---
# configuration-specific tasks file for postgresql

- name: Create or update the pg_hba.conf file
  ansible.builtin.template:
    src: pg_hba.conf.jinja
    dest: "{{ postgresql_data_path }}/pg_hba.conf"
    owner: "{{ postgresql_service_user }}"
    group: "{{ postgresql_service_group }}"
    mode: u=rw,g=,o=
  notify:
    - Reload the PostgreSQL service
  tags:
    - postgresql
    - configuration

- name: Create or update the postgresql.conf file
  ansible.builtin.template:
    src: postgresql.conf.jinja
    dest: "{{ postgresql_data_path }}/postgresql.conf"
    owner: "{{ postgresql_service_user }}"
    group: "{{ postgresql_service_group }}"
    mode: u=rw,g=,o=
  # This file contains secrets, including passwords
  no_log: true
  notify:
    - Restart the PostgreSQL service
  tags:
    - postgresql
    - configuration

- name: Create directory for Lego certificates
  ansible.builtin.file:
    path: "{{ lego_lib_path }}/{{ postgresql_service_name }}"
    state: directory
    owner: root
    group: root
    mode: u=rwx,g=,o=
  when: postgresql_tls_enabled
  tags:
    - postgresql
    - lego
    - configuration

- name: Create or update the Lego configuration file
  ansible.builtin.template:
    src: lego.conf.jinja
    dest: "{{ lego_etc_path }}/{{ postgresql_service_name }}.conf"
    owner: root
    group: root
    mode: u=rw,g=,o=
  when: postgresql_tls_enabled
  notify:
    - Trigger Lego for PostgreSQL certificate renewal
  tags:
    - postgresql
    - lego
    - configuration

- name: Create or update the Lego post-run hook
  ansible.builtin.template:
    src: lego.sh.jinja
    dest: "{{ lego_usr_path }}/{{ postgresql_service_name }}"
    owner: root
    group: root
    mode: u=rwx,g=,o=
  when: postgresql_tls_enabled
  notify:
    - Trigger Lego for PostgreSQL certificate renewal
  tags:
    - postgresql
    - lego
    - configuration
