---
# pre-flight specific tasks file for postgresql

- name: Check this role is not being run under bootstrap conditions
  ansible.builtin.fail:
    msg: |
      This role does not support being run when bootstrapping hosts. Failing.
  when: >-
    bootstrap_mount_base | default('') | length > 0
  tags:
    - postgresql
    - pre-flight

- name: Check for supported distributions
  ansible.builtin.fail:
    msg: >-
      This Ansible role is intended to run on Arch-based Linux systems only.
  when: >-
    not ansible_facts.distribution == 'Archlinux'
  tags:
    - postgresql
    - pre-flight

- name: Check for AWS credentials and S3 bucket prefix
  ansible.builtin.fail:
    msg: >-
      This role requires all AWS credentials (AWS Region, AWS Access Key ID, and
      AWS Secret Access Key) alongside an S3 bucket prefix to be set when WAL-G
      is enabled.
  when: >-
    postgresql_walg_enabled and
    (
      postgresql_walg_aws_region is not defined or
      postgresql_walg_aws_region == "" or
      postgresql_walg_aws_access_key_id is not defined or
      postgresql_walg_aws_access_key_id == "" or
      postgresql_walg_aws_secret_access_key is not defined or
      postgresql_walg_aws_secret_access_key == "" or
      postgresql_walg_aws_s3_prefix is not defined or
      postgresql_walg_aws_s3_prefix == ""
    )
  tags:
    - postgresql
    - pre-flight
