---
# tasks file for systemd-networkd

- name: Configure the hostname
  ansible.builtin.template:
    src: hostname.jinja
    dest: /etc/hostname
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - systemd-networkd
    - networking
    - configuration

- name: Configure the hosts
  ansible.builtin.template:
    src: hosts.jinja
    dest: /etc/hosts
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - systemd-networkd
    - networking
    - configuration

- name: Configure systemd-networkd
  ansible.builtin.template:
    src: networkd.conf.jinja
    # yamllint disable-line rule:line-length
    dest: "{{ bootstrap_mount_base | default('') }}/etc/systemd/networkd.conf"
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  notify:
    - Run networkctl reload locally
  tags:
    - systemd-networkd
    - networking
    - configuration

- name: Configure the ethernet interface
  ansible.builtin.template:
    src: ethernet.network.jinja
    # yamllint disable-line rule:line-length
    dest: "{{ bootstrap_mount_base | default('') }}/etc/systemd/network/ethernet.network"
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  notify:
    - Run networkctl reload locally
  tags:
    - systemd-networkd
    - networking
    - configuration

- name: Ensure systemd-network is enabled in the chroot
  # If installing into the chroot'd environment, call systemd directly via
  # arch-chroot instead of using the systemd module
  ansible.builtin.shell: # noqa no-changed-when
    cmd: |-
      /usr/bin/arch-chroot {{ bootstrap_mount_base | default('') }} \
        /usr/bin/fish -c 'systemctl enable systemd-networkd.service'
  when: >-
    not ansible_check_mode and
    bootstrap_mount_base | default('') | length > 0
  tags:
    - systemd
    - systemd-networkd
    - networking
    - service

- name: Ensure systemd-networkd is enabled locally
  ansible.builtin.systemd_service:
    name: systemd-networkd.service
    enabled: true
  when: bootstrap_mount_base | default('') | length == 0
  tags:
    - systemd
    - systemd-networkd
    - networking
    - service
