# {{ ansible_managed }}

127.0.0.1 localhost
::1 localhost

{% for host in groups[env_name] | sort %}
{%   if host in groups['proxmox'] %}
{{ hostvars[host].ansible_facts.default_ipv4.address }} {{ hostvars[host].ansible_facts.fqdn }} {{ hostvars[host].ansible_facts.hostname }}
{{ hostvars[host].ansible_facts.default_ipv6.address }} {{ hostvars[host].ansible_facts.fqdn }} {{ hostvars[host].ansible_facts.hostname }}
{%   endif %}
{% endfor %}
