# {{ ansible_managed }}

AUTHENTIK_LISTEN__HTTP={{ authentik_listen_address }}:{{ authentik_listen_http }}
AUTHENTIK_LISTEN__HTTPS={{ authentik_listen_address }}:{{ authentik_listen_https }}
AUTHENTIK_LISTEN__LDAP={{ authentik_listen_address }}:{{ authentik_listen_ldap }}
AUTHENTIK_LISTEN__LDAPS={{ authentik_listen_address }}:{{ authentik_listen_ldaps }}
AUTHENTIK_LISTEN__METRICS={{ authentik_listen_address }}:{{ authentik_listen_metrics }}
AUTHENTIK_LISTEN__TRUSTED_PROXY_CIDRS={{ authentik_listen_trusted_proxy_cidrs | join(',') }}

AUTHENTIK_SECRET_KEY={{ authentik_secret_key }}
AUTHENTIK_LOG_LEVEL={{ authentik_log_level }}
AUTHENTIK_DISABLE_UPDATE_CHECK={{ 'true' if authentik_disable_update_check else 'false' }}

AUTHENTIK_EMAIL__HOST={{ authentik_email_host }}
AUTHENTIK_EMAIL__PORT={{ authentik_email_port }}
AUTHENTIK_EMAIL__USERNAME={{ authentik_email_username }}
AUTHENTIK_EMAIL__PASSWORD={{ authentik_email_password }}
AUTHENTIK_EMAIL__USE_TLS={{ 'true' if authentik_email_use_tls else 'false' }}
AUTHENTIK_EMAIL__USE_SSL={{ 'true' if authentik_email_use_ssl else 'false' }}
AUTHENTIK_EMAIL__TIMEOUT={{ authentik_email_timeout }}
AUTHENTIK_EMAIL__FROM={{ authentik_email_from }}

AUTHENTIK_POSTGRESQL__HOST={{ hostvars[authentik_postgresql_host].ansible_facts.default_ipv4.address }}
AUTHENTIK_POSTGRESQL__PORT={{ authentik_postgresql_port }}
AUTHENTIK_POSTGRESQL__USER={{ authentik_postgresql_username }}
AUTHENTIK_POSTGRESQL__PASSWORD={{ authentik_postgresql_password }}
AUTHENTIK_POSTGRESQL__NAME={{ authentik_postgresql_database }}
AUTHENTIK_POSTGRESQL__CONN_MAX_AGE={{ authentik_postgresql_conn_max_age }}
AUTHENTIK_POSTGRESQL__CONN_HEALTH_CHECKS={{ 'true' if authentik_postgresql_conn_health_checks else 'false' }}

AUTHENTIK_POSTGRESQL__SSLMODE={{ authentik_postgresql_ssl_mode }}
{%  if authentik_postgresql_ssl_mode != 'disable' %}
AUTHENTIK_POSTGRESQL__SSLROOTCERT={{ authentik_postgresql_ssl_root_cert }}
{%    if authentik_postgresql_ssl_cert is defined and authentik_postgresql_ssl_key is defined %}
AUTHENTIK_POSTGRESQL__SSLCERT={{ authentik_postgresql_ssl_cert }}
AUTHENTIK_POSTGRESQL__SSLKEY={{ authentik_postgresql_ssl_key }}
{%    endif %}
{%  endif %}
