# {{ ansible_managed }}

global
  maxconn {{ haproxy_maxconn }}
  log stdout format raw local0
  user haproxy
  pidfile /run/haproxy.pid
  daemon

defaults
  mode tcp
  log global
  option dontlognull
  timeout connect {{ haproxy_timeout.connect }}
  timeout client {{ haproxy_timeout.client }}
  timeout server {{ haproxy_timeout.server }}

frontend metrics
  mode http
  bind 127.0.0.1:8404
  bind [::1]:8404
  http-request use-service prometheus-exporter if { path /metrics }
  stats enable
  stats uri /stats
  stats refresh 10s

frontend https
  mode tcp
  bind 172.23.0.3:443
  bind [2a02:8010:8006:3a00::3]:443
  option tcplog
  tcp-request inspect-delay 5s
  tcp-request content accept if { req.ssl_hello_type 1 }
  acl vault_filter req_ssl_sni -i vault.s.cym-south-1.kub3.uk
  use_backend vault if vault_filter

frontend vault
  mode tcp
  bind 172.23.0.3:8200
  bind [2a02:8010:8006:3a00::3]:8200
  option tcplog
  default_backend vault

backend vault
  mode tcp
  option ssl-hello-chk
  server vault-01 vault-01.s.cym-south-1.kub3.uk:8200 check send-proxy
