# {{ ansible_managed }}

listen_addresses = '{{ postgresql_listen_addresses | join("', '") }}'
port = {{ postgresql_port }}
max_connections = {{ postgresql_max_connections}}
reserved_connections = 0
superuser_reserved_connections = 3

unix_socket_directories = '/run/postgresql'
unix_socket_group = '{{ postgresql_service_user }}'
unix_socket_permissions = 0770

# - Authentication -

authentication_timeout = 5s
password_encryption = scram-sha-256
scram_iterations = 4096

# - SSL -

{% if not postgresql_tls_enabled %}
ssl = off
{% else %}
ssl = on
ssl_cert_file = 'server.crt'
ssl_key_file = 'server.key'
ssl_ca_file = '{{ postgresql_tls_ca_crt }}'
ssl_prefer_server_ciphers = on
ssl_min_protocol_version = 'TLSv1.3'
{% endif %}

# - Memory -

shared_buffers = 128MB
temp_buffers = 8MB
work_mem = 4MB
maintenance_work_mem = 64MB
autovacuum_work_mem = 64MB
shared_memory_type = mmap		# the default is the first option
dynamic_shared_memory_type = posix	# the default is usually the first option

# - Kernel Resources -

max_files_per_process = 1000

#- Write Ahead Log -

wal_level = replica
fsync = on
synchronous_commit = on
wal_log_hints = on
wal_compression = zstd
wal_init_zero = on
wal_recycle = on

# - Checkpoints -

checkpoint_timeout = 15min
checkpoint_completion_target = 0.9
checkpoint_warning = 30s
max_wal_size = 64MB
min_wal_size = 32MB

{%  if postgresql_walg_enabled and
    ( postgresql_replication_role == "primary" or
      postgresql_replication_role == "standalone" ) -%}

# - Archiving -

archive_mode = on
recovery_prefetch = try
archive_command = '{{ postgresql_walg_bin_path }}/{{ postgresql_walg_bin_file }} --config {{ postgresql_data_path }}/.{{ postgresql_walg_name }}.env wal-push %p'

# - Archive Recovery -

restore_command = '{{ postgresql_walg_bin_path }}/{{ postgresql_walg_bin_file }} --config {{ postgresql_data_path }}/.{{ postgresql_walg_name }}.env wal-fetch %f %p'
{%  endif %}
{%  if postgresql_replication_role == "primary" -%}

# - Replication Sending Servers -

# Set these on the primary and on any standby that will send replication data.

max_wal_senders = 3
max_replication_slots = 3
wal_keep_size = 251MB
max_slot_wal_keep_size = -1 # unlimited

# - Replication Primary Server -

synchronous_standby_names = ''
synchronized_standby_slots = ''
{%  endif %}
{%  if postgresql_replication_role == "standby" -%}

# - Replication Standby Servers -

primary_conninfo = 'user={{ postgresql_replication_username }} password={{ postgresql_replication_password }} host={{ hostvars[postgresql_replication_primary].ansible_facts.default_ipv6.address }} port={{ postgresql_port }}{% if postgresql_tls_enabled %} sslmode=verify-full sslrootcert={{ postgresql_tls_ca_crt | urlencode }}{% endif %}'
primary_slot_name = '{{ ansible_facts.hostname | replace("-", "_") }}'
hot_standby = on
hot_standby_feedback = on
{%  endif %}

# - Reporting and Logging -

logging_collector = on
log_directory = 'log'
log_filename = 'postgresql-%Y-%m-%d-%H%M%S.log'
log_file_mode = 0600
log_destination = 'jsonlog'
log_rotation_size = 10MB
log_rotation_age = 1d

log_min_messages = warning
log_min_error_statement = error
log_min_duration_statement = 1s

log_hostname = off
log_timezone = 'Europe/London'

# - Process Title -

cluster_name = 'authentik'
update_process_title = on

# - Automatic Vacuuming -

autovacuum = on
vacuum_truncate = on
track_counts = on
autovacuum_worker_slots = 16
autovacuum_max_workers = 3
autovacuum_naptime = 1min
autovacuum_vacuum_threshold = 50
autovacuum_vacuum_insert_threshold = 1000
autovacuum_analyze_threshold = 50
autovacuum_vacuum_scale_factor = 0.2
autovacuum_vacuum_insert_scale_factor = 0.2
autovacuum_analyze_scale_factor = 0.1
autovacuum_vacuum_max_threshold = 10000000

# - Locale and Formatting -

datestyle = 'iso, mdy'
timezone = 'Europe/London'

# These settings are initialized by initdb, but they can be changed.
lc_messages = 'C.UTF-8'
lc_monetary = 'C.UTF-8'
lc_numeric = 'C.UTF-8'
lc_time = 'C.UTF-8'

# default configuration for text search
default_text_search_config = 'pg_catalog.english'
