# {{ ansible_managed }}

PGHOST={{ postgresql_socket_path }}

AWS_REGION={{ postgresql_walg_aws_region }}
AWS_ACCESS_KEY_ID={{ postgresql_walg_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ postgresql_walg_aws_secret_access_key }}

WALG_S3_PREFIX={{ postgresql_walg_aws_s3_prefix }}/{{ ansible_facts.fqdn }}
WALG_S3_STORAGE_CLASS=STANDARD_IA
WALG_S3_SSE=AES256

WALG_SLOTNAME={{ postgresql_walg_name }}
WALG_COMPRESSION_METHOD=zstd
