# {{ ansible_managed }}

auto lo
iface lo inet loopback

# Ethernet Network Interfaces

{% if proxmox_node_type == 'cluster' %}
iface enp86s0 inet manual
  mtu 9000

auto vmbr0
iface vmbr0 inet static
  address {{ device_ipv4_address }}
  gateway {{ device_ipv4_gateway }}
  bridge-ports enp86s0
  bridge-stp off
  bridge-fd 0
  bridge-vlan-aware yes
  bridge-vids 2-4094
  mtu 9000
#2.5GbE

iface vmbr0 inet6 static
  address {{ device_ipv6_address }}
  gateway {{ device_ipv6_gateway }}
{% else %}
auto nic0
iface nic0 inet static
  address {{ device_ipv4_address }}
  gateway {{ device_ipv4_gateway }}
  mtu 9000

iface nic0 inet6 static
  address {{ device_ipv6_address }}
  gateway {{ device_ipv6_gateway }}
{% endif %}
{% if proxmox_node_type == 'cluster' %}

# Dummy Interface

auto end0
iface end0 inet static
  pre-up ip link add end0 type dummy
#Mesh Loopback

iface end0 inet6 static
  address {{ networking_loopback_address }}/128

# Thunderbolt Network Interfaces

auto ent0
allow-hotplug ent0
iface ent0 inet static
  mtu 65520
#25GbE Thunderbolt

iface ent0 inet6 static

auto ent1
allow-hotplug ent1
iface ent1 inet static
  mtu 65520
#25GbE Thunderbolt

iface ent1 inet6 static
{% endif %}

source /etc/network/interfaces.d/*
