---
# {{ ansible_managed }}
# k3s Agent Configuration
{% if k3s_node_type == "agent"
  and k3s_agent_server is defined
  and k3s_agent_token is defined %}

server: {{ k3s_agent_server }}
token: {{ k3s_agent_token }}
{% endif %}
