---
# {{ ansible_managed }}
# k3s Cluster Configuration

secrets-encryption: true

flannel-backend: {{ k3s_flannel_backend }}
service-cidr: {{ k3s_service_cidr }}
cluster-cidr: {{ k3s_cluster_cidr }}
cluster-dns: {{ k3s_cluster_dns }}

egress-selector-mode: {{ k3s_egress_selector_mode }}

embedded-registry: {{ 'false' if k3s_disable_embedded_registry else 'true' }}

disable-helm-controller: {{ 'true' if k3s_disable_helm_controller else 'false' }}
disable-network-policy: {{ 'true' if k3s_disable_network_policy else 'false' }}
{% if k3s_service_disable | length > 0 %}

disable:
{%   for service in k3s_service_disable %}
  - {{ service }}
{%   endfor %}
{% endif %}
