---
# {{ ansible_managed }}
# k3s Node Configuration

node-name: {{ k3s_node_name }}
bind-address: {{ k3s_bind_address }}
{% if k3s_node_taints|length > 0 %}

node-taint+:
{%   for taint in k3s_node_taints %}
  - {{ taint.key }}={{ taint.value }}
{%   endfor %}
{% endif %}

node-label+:
  - topology.kubernetes.io/region={{ k3s_node_region }}
  - topology.kubernetes.io/zone={{ k3s_node_zone }}
{% for label in k3s_node_labels %}
  - {{ label.key }}={{ taint.value }}
{% endfor %}
