# {{ ansible_managed }}

[Service]
# The following empty lines are needed to clear the previous entries for these
# values set in the original k3s.service from the upstream package
EnvironmentFile=
ExecStartPre=
ExecStart=

# Override the k3s call depending on if we want to run the server or the agent
ExecStart=/usr/bin/k3s {{ 'server' if k3s_node_type == 'server' else 'agent' }}
