---
# {{ ansible_managed }}
# k3s Server Configuration
{% if k3s_cluster_init %}

cluster-init: true
{%   if k3s_tls_san | length > 0 %}
tls-san:
{%     for san in k3s_tls_san %}
  - {{ san }}
{%     endfor %}
{%   endif %}
{% elif k3s_node_type == "agent"
      and k3s_agent_server is defined
      and k3s_agent_token is defined %}

server: {{ k3s_agent_server }}
token: {{ k3s_agent_token }}
{% endif %}

https-listen-port: {{ k3s_https_listen_port }}
