# {{ ansible_managed }}

add_newline = true
format = """
╭╴$time   $shell   $directory
│ [ ](fg:blue)   [{{ env_name | default('unknown') }}](fg:{{ env_colour | default('white') }})[/](fg:bright black){{ env_purpose | default('unknown') }}
│ [ ](fg:blue)   {{ env_location | default('unknown') }}
╰╴$username$hostname $character
"""
{% if directory == "root" %}
right_format = " $cmd_duration$sudo"
{% else %}
right_format = " $cmd_duration"
{% endif %}

[time]
disabled = false
format = "$time"

[shell]
disabled = false
format = "$indicator"
fish_indicator = "[fish](fg:blue)"
bash_indicator = "[bash](fg:red)"
unknown_indicator = "[unknown](fg:red)"

[directory]
disabled = false
format = "[ ]($style) $path"
{% if directory == "root" %}
style = "fg:red"
{% else %}
style = "fg:blue"
{% endif %}
home_symbol = "~"

[username]
show_always = true
format = "[$user]($style)"
style_user = "fg:blue"
style_root = "fg:red"

[hostname]
disabled = false
format = " on [$hostname]($style)"
{% if directory == "root" %}
style = "fg:red"
{% else %}
style = "fg:blue"
{% endif %}
trim_at = ""
ssh_only = false

[character]
disabled = false
success_symbol = ""
error_symbol = "[](fg:red)"
{% if directory != "root" %}

[sudo]
disabled = false
format = "  [ ](fg:red)"
{% endif %}
