# {{ ansible_managed }}

add_newline = true
format = """
$time$shell [](fg:{{ env_colour | default('blue') }} bg:none)[ {{ env_name }}](fg:black bg:{{ env_colour | default('blue') }})[](fg:{{ env_colour | default('blue') }} bg:black)[  {{ env_purpose | default('unknown') }}](fg:bright-white bg:black)[](fg:black bg:none)
$hostname $directory
$username $character
"""

[time]
disabled = false
format = "[](fg:black bg:none)[$time](fg:white bg:black)"

[shell]
disabled = false
format = "$indicator[](fg:black bg:none)"
fish_indicator = "[  ](fg:bold white bg:black)"
bash_indicator = "[  ](fg:bold white bg:black)"
unknown_indicator = "[  ](fg:bright-yellow bg:black)"

[directory]
disabled = false
format = "[](fg:black bg:none)[  $path](fg:white bg:black)[](fg:black bg:none)"
home_symbol = "~"

[username]
show_always = true
format = "[](fg:black bg:none)[$user]($style)[](fg:black bg:none)"
style_root = "fg:red bg:black"
style_user = "fg:white bg:black"

[hostname]
disabled = false
format = "[](fg:black bg:none)[{{ ansible_fqdn }}]($style)[](fg:black bg:none)"
style = "fg:white bg:black"
trim_at = "."
ssh_only = false

[character]
disabled = false
success_symbol = " "
error_symbol = "[ ](fg:red)"
