# {{ ansible_managed }}

[Resolve]
FallbackDNS=1.1.1.2#security.cloudflare-dns.com 2606:4700:4700::1112#security.cloudflare-dns.com
DNSOverTLS=opportunistic
DNSSEC=yes

MulticastDNS=no
LLMNR=no

Cache=yes
ReadEtcHosts=yes
CacheFromLocalhost=no
StaleRetentionSec=0

DNSStubListener=yes
DBSStubListenerExtra=[::1]:53
