---
# Node-specific configuration for node-01.s.cym-south-1.kub3.uk

filesystems_luks_enabled: true

systemd_networkd_ipv4_address: 172.23.32.9/24
systemd_networkd_ipv4_gateway: 172.23.32.1
systemd_networkd_ipv6_address: 2a02:8010:8006:3a32:4a21:bff:fe56:446/64

systemd_networkd_vlans:
  - 30
  - 31
  - 32

machines_list:
  - name: vault-01
    environment: services
    location: cym-south-1
    purpose: vault-node
    vcpu: 2
    memory:
      current: 2
      shared: true
    volumes:
      - dev: vda
        size: 32G
    vlan: 31
  - name: cache-01
    environment: services
    location: cym-south-1
    purpose: repo-cache-node
    vcpu: 2
    memory:
      current: 2
    volumes:
      - dev: vda
        size: 512G
    vlan: 31
  - name: netdata-01
    environment: services
    location: cym-south-1
    purpose: netdata-node
    vcpu: 2
    memory:
      current: 4
    volumes:
      - dev: vda
        size: 256G
    vlan: 31
  - name: netdata-01
    environment: development
    location: cym-south-1
    purpose: netdata-node
    vcpu: 4
    memory:
      current: 16
    volumes:
      - dev: vda
        size: 512G
    vlan: 31
  - name: netdata-01
    environment: production
    location: cym-south-1
    purpose: netdata-node
    vcpu: 4
    memory:
      current: 16
    volumes:
      - dev: vda
        size: 1T
    vlan: 31
