---
# pre-flight specific tasks file for valkey

- name: Check this role is not being run under bootstrap conditions
  ansible.builtin.fail:
    msg: |
      This role does not support being run when bootstrapping hosts. Failing.
  when: >-
    bootstrap_mount_base | default('') | length > 0
  tags:
    - valkey
    - pre-flight

- name: Check for supported distributions
  ansible.builtin.fail:
    msg: >-
      This Ansible role is intended to run on Arch-based Linux systems only.
  when: >-
    not ansible_facts.distribution == 'Archlinux'
  tags:
    - valkey
    - pre-flight
