  \d \e{darkgray}\t\e{reset}

\e{darkgray}──> \e{reset}n3t.uk Lab Environment
\e{red}
  ┌──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
  │ Access to this server is authorised only for the owner of n3t.uk Lab Environment and other pre-authorised personnel. All other access is strictly        │
  │ prohibited and any detected unauthorised access will be investigated and reported to local law enforcement for prosecution.                              │
  │                                                                                                                                                          │
  │ If you are not authorised, then please leave this console. If you require authorisation, please contact access@n3t.uk.                                   │
  └──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
\e{reset}
\e{darkgray}──> \e{reset}{{ ansible_nodename }}

  \e{darkgray}    Machine Type\e{reset}: {{ device_type | title }} Machine

  \e{darkgray}          {{ ansible_processor[2] }}\e{reset}
  \e{darkgray}          {{ '%02.1f' | format(( ansible_memory_mb.real.total / 1024)) }} GB RAM\e{reset} plus \e{darkgray}{{ '%02.1f' | format(( ansible_memory_mb.swap.total / 1024)) }} GB Swap\e{reset}
{% for name, device in ansible_devices.items() %}
{%   if device.model is defined and device.model %}
  \e{darkgray}          {{ device.size }} {{ device.model }} ({{ device.serial }})\e{reset}
{%   endif %}
{% endfor %}

  \e{darkgray}        Location\e{reset}: {{ env_location }}
  \e{darkgray}     Environment\e{reset}: \e{yellow}{{ env_name }}\e{reset}
  \e{darkgray}         Purpose\e{reset}: {{ env_purpose }}

  \e{darkgray}Operating System\e{reset}: Arch Linux
  \e{darkgray}          Kernel\e{reset}: \r

  \e{darkgray}    IPv6 Address\e{reset}: {{ systemd_networkd_ipv6_address }}
  \e{darkgray}    IPv4 Address\e{reset}: {{ systemd_networkd_ipv4_address }}



