                                                  \d \e{halfbright}\t\e{reset}

\e{halfbright}──> \e{reset}n3t.uk Lab Environment
\e{red}
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ Access to this server is authorised only for the owner of n3t.uk Lab    │
  │ Environment and other pre-authorised personnel. All other access is     │
  │ strictly prohibited and any detected unauthorised access will be        │
  │ investigated and reported to local law enforcement for prosecution.     │
  │                                                                         │
  │ If you are not authorised, then please leave this console.              │
  │                                                                         │
  │ If you require authorisation, please contact access@n3t.uk.             │
  └─────────────────────────────────────────────────────────────────────────┘
\e{reset}
\e{halfbright}──> \e{reset}{{ ansible_facts.fqdn }}

        {{ ansible_facts.system_vendor }} {{ ansible_facts.product_name }}{% if ansible_facts.product_serial and ansible_facts.product_serial != "NA" %} ({{ ansible_facts.product_serial }}){% endif %}

  \e{halfbright}          {{ ansible_facts.processor_vcpus }}x {{ ansible_facts.processor[2] }}\e{reset}
  \e{halfbright}          {{ '%02.1f' | format(( ansible_facts.memory_mb.real.total / 1024)) }} GB RAM\e{reset} plus \e{halfbright}{{ '%02.1f' | format(( ansible_facts.memory_mb.swap.total / 1024)) }} GB Swap\e{reset}
{% for name in filesystems_physical_drives %}
{%   if name in ansible_facts.devices %}
{%     if ansible_facts.devices[name].model is defined
          and ansible_facts.devices[name].model %}
  \e{halfbright}          {{ ansible_facts.devices[name].size }} {{ ansible_facts.devices[name].model }} ({{ ansible_facts.devices[name].serial }})\e{reset}
{%     else %}
  \e{halfbright}          {{ ansible_facts.devices[name].size }} Drive (/dev/{{ name }})\e{reset}
{%     endif %}
{%   endif %}
{% endfor %}

  \e{halfbright}    Machine Type\e{reset}: {{ device_type | title }} Machine
  \e{halfbright}        Location\e{reset}: {{ env_location }}

  \e{halfbright}     Environment\e{reset}: \e{yellow}{{ env_name }}\e{reset}
  \e{halfbright}         Purpose\e{reset}: {{ env_purpose }}

  \e{halfbright}Operating System\e{reset}: {{ ansible_facts.distribution }}{% if ansible_facts.distribution_version != "rolling" %} {{ ansible_facts.distribution_version }}{% endif %}

  \e{halfbright}          Kernel\e{reset}: \r

  \e{halfbright}    IPv6 Address\e{reset}: {{ ansible_facts.default_ipv6.address | split('/') | first }}
  \e{halfbright}    IPv4 Address\e{reset}: {{ ansible_facts.default_ipv4.address | split('/') | first }}

\e{halfbright}──> \e{reset}Login
