# {{ ansible_managed }}

[Match]
Name=bri{{ '%02d' | format(item.0) }}

[Link]
MACAddress={{ ('02' + ((env_name + "-" + ansible_hostname + "-bri" + ('%02d' | format(item.0))) | hash("sha256") | truncate(10, true, ""))) | ansible.utils.hwaddr('unix') }}

[Network]
DHCP=no
IPForward=yes
{% if systemd_networkd_access_vlan == item.0 %}

Address={{ systemd_networkd_ipv4_address }}
Gateway={{ systemd_networkd_ipv4_gateway }}

Address={{ systemd_networkd_ipv6_address }}
# Router for IPv6 found through Router Advertisements
IPv6AcceptRA=yes

{% else %}
LinkLocalAddressing=no
IPv6AcceptRA=no
{% endif %}
IPv6PrivacyExtensions=no
MulticastDNS=no
LLMNR=no
