# {{ ansible_managed }}

[Match]
MACAddress={{ ansible_facts.default_ipv4.macaddress }}

[Link]
MTUBytes={{ ansible_facts.default_ipv4.mtu }}

[Network]
DHCP=no
LLMNR=no
MulticastDNS=no
IPForward=no
IPv6PrivacyExtensions=no

[Address]
Address={{ ansible_facts.default_ipv4.address }}/{{ ansible_facts.default_ipv4.prefix }}

[Route]
Gateway={{ ansible_facts.default_ipv4.gateway }}

[Address]
Address={{ ansible_facts.default_ipv6.address }}/{{ ansible_facts.default_ipv6.prefix }}

[Route]
Gateway={{ ansible_facts.default_ipv6.gateway }}
GatewayOnLink=yes
