---
# tasks file for tailscale

- name: Run pre-flight checks
  ansible.builtin.include_tasks:
    file: pre-flight.yaml

- name: Install on Arch Linux
  ansible.builtin.include_tasks:
    file: arch.yaml
  when: ansible_facts.distribution == 'Archlinux'

- name: Install on Debian Linux
  ansible.builtin.include_tasks:
    file: debian.yaml
  when: ansible_facts.distribution == 'Debian'

- name: Set up Tailscale
  ansible.builtin.include_tasks:
    file: setup.yaml
