# {{ ansible_managed }}

{
  email {{ caddy_acme_email }}
{% if caddy_auto_https | length > 0 %}
  auto_https {{ caddy_auto_https }}
{% endif %}
}

# Import additional Caddyfile config files in /etc/caddy/conf.d/
import {{ caddy_config_path }}/{{ caddy_config_file }}.d/*
