---
# interfaces-specific tasks for proxmox/networking role

- name: Configure network interfaces
  ansible.builtin.template:
    src: interfaces.jinja
    dest: /etc/network/interfaces
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  notify:
    - Reload the interfaces configuration
  tags:
    - networking
    - configuration

- name: Configure hosts
  ansible.builtin.template:
    src: hosts.jinja
    dest: /etc/hosts
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - hosts
    - networking
    - configuration
