---
# interfaces-specific tasks for networking role

- name: Configure the kernel modules
  ansible.builtin.copy:
    src: "{{ modules }}"
    dest: /etc/modules-load.d/{{ modules }}
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  loop:
    - thunderbolt.conf
  loop_control:
    label: /etc/modules-load.d/{{ modules }}
    loop_var: modules
  tags:
    - networking
    - configuration

- name: Install udev scripts
  ansible.builtin.copy:
    src: "{{ script }}"
    dest: /usr/local/sbin/{{ script }}
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
  loop:
    - thunderbolt-ent0
    - thunderbolt-ent1
    - thunderbolt-affinity
  loop_control:
    label: /usr/local/sbin/{{ script }}
    loop_var: script
  tags:
    - networking
    - configuration

- name: Configure udev rules
  ansible.builtin.copy:
    src: "{{ rules }}"
    dest: /etc/udev/rules.d/{{ rules }}
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  notify:
    - Reload the udev rules and trigger
  loop:
    - 99-thunderbolt.rules
  loop_control:
    label: /etc/udev/rules.d/{{ rules }}
    loop_var: rules
  tags:
    - networking
    - configuration

- name: Configure link settings
  ansible.builtin.copy:
    src: "{{ link }}"
    dest: /etc/systemd/network/{{ link }}
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  notify:
    - Reload the interfaces configuration
  loop:
    - 00-thunderbolt0.link
    - 00-thunderbolt1.link
  loop_control:
    label: /etc/systemd/network/{{ link }}
    loop_var: link
  tags:
    - networking
    - configuration

- name: Install networking scripts
  ansible.builtin.copy:
    src: "{{ script }}"
    dest: /etc/network/if-up.d/{{ script }}
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
  loop:
    - thunderbolt-affinity
  loop_control:
    label: /etc/network/if-up.d/{{ script }}
    loop_var: script
  tags:
    - networking
    - configuration

- name: Configure network interfaces
  ansible.builtin.template:
    src: interfaces.jinja
    dest: /etc/network/interfaces
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  notify:
    - Reload the interfaces configuration
  tags:
    - networking
    - configuration

- name: Configure hosts
  ansible.builtin.template:
    src: hosts.jinja
    dest: /etc/hosts
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - hosts
    - networking
    - configuration
