---
# tasks file for networking

- name: Check role is bring run on Debian only
  ansible.builtin.fail:
    msg: >-
      This Ansible role is intended to run on Debian-based systems only as it is
      explicitly to configure Proxmox networking only.
  when: ansible_facts['os_family'] != 'Debian'

- name: Configure Grub
  ansible.builtin.include_tasks:
    file: grub.yaml

- name: Configure sysctl settings
  ansible.builtin.include_tasks:
    file: sysctl.yaml

- name: Configure Debian Networking
  ansible.builtin.include_tasks:
    file: interfaces.yaml

- name: Configure FRR daemon
  ansible.builtin.include_tasks:
    file: frr.yaml
