---
# tasks file for proxmox/networking

- name: Run pre-flight checks
  ansible.builtin.include_tasks:
    file: pre-flight.yaml

- name: Configure Grub
  ansible.builtin.include_tasks:
    file: grub.yaml
  when: proxmox_node_type == 'cluster'

- name: Configure sysctl settings
  ansible.builtin.include_tasks:
    file: sysctl.yaml
  when: proxmox_node_type == 'cluster'

- name: Configure Thunderbolt Interfaces
  ansible.builtin.include_tasks:
    file: thunderbolt.yaml
  when: proxmox_node_type == 'cluster'

- name: Configure Debian Networking
  ansible.builtin.include_tasks:
    file: interfaces.yaml

- name: Configure FRR daemon
  ansible.builtin.include_tasks:
    file: frr.yaml
  when: proxmox_node_type == 'cluster'
