---
# handlers file for ssh

- name: Restart sshd locally
  ansible.builtin.systemd:
    name: sshd
    daemon_reload: false
    state: restarted
  # Only allow a handler to run when we're not inside a chroot environment
  when: (bootstrap_mount_base | default('') | length) == 0
