---
# create mount tasks file for filesystems

- name: Prepare the mount point
  ansible.builtin.file:
    dest: "{{ filesystems_mount_base }}"
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
    state: directory
  tags:
    - filesystems
    - configuraton

- name: Unmount all filesystems from {{ filesystems_mount_base }}
  # This has to be run as a shell command as ansible.posix.mount does not
  # support recursive unmounts and we need to ensure the base mount is clear
  ansible.builtin.shell: # noqa no-changed-when
    cmd: |-
      umount -R {{ filesystems_mount_base }} 2>/dev/null || true
    executable: /usr/bin/bash
  when: not ansible_check_mode
  tags:
    - filesystems
    - mount
    - logical
    - physical

- name: Temporarily mount the logical volumes
  ansible.posix.mount:
    src: /dev/{{ item.group }}/{{ item.name }}
    path: "{{ filesystems_mount_base }}{{ item.path }}"
    fstype: "{{ item.fs_type }}"
    # Ensure that the directories are created before mounting them
    # yamllint disable-line rule:line-length
    opts: defaults,noatime{% if item.mount_opts is defined and item.mount_opts | length > 0 %},{% endif %}{{ item.mount_opts | default([]) | join(',') }},x-mount.mkdir
    # These should only be temporary mounts, so don't add to /etc/fstab
    state: ephemeral
  when: item.path is defined
  ignore_errors: "{{ ansible_check_mode }}"
  # yamllint disable-line rule:line-length
  loop: "{{ filesystems_logical_volumes + filesystems_extra_volumes | default([]) }}"
  loop_control:
    label: "{{ item.group }}/{{ item.name }}"
  tags:
    - filesystems
    - mount
    - logical

# The physical devices should be mounted after the logical, as /mnt (i.e. the
# storage/system logical volume) needs to be mounted first so that the efi
# directory can be created inside it for mounting the EFI filesystem
- name: Temporarily mount the physical volumes
  ansible.posix.mount:
    # yamllint disable-line rule:line-length
    src: /dev/{{ item.device }}{% if item.device[:4] == 'nvme' %}p{% endif %}{{ item.number }}
    path: "{{ filesystems_mount_base }}{{ item.path }}"
    fstype: "{{ item.fs_type }}"
    # yamllint disable-line rule:line-length
    opts: defaults,noatime{% if item.mount_opts is defined and item.mount_opts | length > 0 %},{% endif %}{{ item.mount_opts | default([]) | join(',') }},x-mount.mkdir
    state: ephemeral
  when: item.path is defined
  ignore_errors: "{{ ansible_check_mode }}"
  loop: "{{ filesystems_physical_partitions | default([]) }}"
  loop_control:
    # yamllint disable-line rule:line-length
    label: /dev/{{ item.device }}{% if item.device[:4] == 'nvme' %}p{% endif %}{{ item.number }}
  tags:
    - filesystems
    - mount
    - physical

- name: Temporarily mount the tmpfs volume
  ansible.posix.mount:
    src: tmpfs
    path: "{{ filesystems_mount_base }}/tmp"
    fstype: tmpfs
    opts: defaults,rw,noatime,nosuid,size={{ filesystems_tmpfs_size }},mode=1777
    state: ephemeral
  ignore_errors: "{{ ansible_check_mode }}"
  tags:
    - filesystems
    - mount
    - logical
