---
# tasks file for sudo

- name: Install on Arch Linux
  ansible.builtin.include_tasks:
    file: arch.yaml
  # Work on the assumption that the service will have been pre-installed as part
  # of the bootstrap role when initialising the initial system, so only attempt
  # installation or update when bootstrap_mount_base is not set.
  when: |
    ansible_distribution == 'Archlinux' and
    (bootstrap_mount_base | default('') | length) > 0

- name: Install on Debian Linux
  ansible.builtin.include_tasks:
    file: debian.yaml
  when: ansible_distribution == 'Debian'

- name: Create the sudo drop-in directory
  ansible.builtin.file:
    path: "{{ bootstrap_mount_base | default('') }}/etc/sudoers.d"
    state: directory
    owner: root
    group: root
    mode: u=rwx,g=rx,o=
  tags:
    - sudo
    - configuration

- name: Configure the sudo service
  ansible.builtin.template:
    src: "{{ file }}.jinja"
    dest: "{{ bootstrap_mount_base | default('') }}/etc/{{ file }}"
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  loop:
    - sudo.conf
    - sudo_logsrvd.conf
  loop_control:
    label: /etc/{{ file }}
    loop_var: file
  tags:
    - sudo
    - configuration

- name: Configure the sudoers file
  ansible.builtin.template:
    src: sudoers.jinja
    dest: "{{ bootstrap_mount_base | default('') }}/etc/sudoers"
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - sudo
    - configuration
