---
# handlers file for systemd-resolved

- name: Restart systemd-resolved locally
  ansible.builtin.systemd:
    name: systemd-resolved
    daemon_reload: false
    state: restarted
  # Only allow a handler to run when we're not inside a chroot environment
  when: bootstrap_mount_base | default('') | length == 0
