# {{ ansible_managed }}

# This is a client node meaning that the service will only collect data and
# forward it onto a parent node for storage, processing, and alerting

[stream]
  # Send all available metrics from this client node to a parent node as the
  # destination for storage and processing of alerts
  enabled = yes
  destination = tcp:netdata-01.{{ env_name[:1] }}.{{ env_location }}.kub3.uk:{{ netdata_stream_port }}{% if netdata_stream_encrypted %}:SSL{% endif %}

  api key = {{ netdata_api_key }}
  send charts matching = *

  timeout seconds = 10
  reconnect delay seconds = 3

  # Enable compression of the data from the client end, and allow up to 25MB of
  # data to be buffered (about two minutes worth) to allow the parent to be
  # updated and/or restarted
  enable compression = yes
  buffer size bytes = 26214400
