# {{ ansible_managed }}

# This is a parent node which will collect data from child nodes using the
# following API key, locally storing that data and processing/alerting on it

[global]
  run as user = netdata

[db]
  mode = dbengine
  storage tiers = 3

  # To allow memory pressure to offload index from ram
  dbengine page descriptors in file mapped memory = yes

  # Storage Tier 0
  update every = 1 # 1 Second
  dbengine multihost disk space MB = {{ netdata_dbengine_teir0_space }}
  dbengine page cache size MB = {{ netdata_dbengine_teir0_cache }}

  # Storage Tier 1
  dbengine tier 1 update every iterations = 60 # 60 Seconds
  dbengine tier 1 multihost disk space MB = {{ netdata_dbengine_teir1_space }}
  dbengine tier 1 page cache size MB = {{ netdata_dbengine_teir1_cache }}
  dbengine tier 1 backfill = new

  # Storage Tier 2
  dbengine tier 2 update every iterations = 60 # 3600 Seconds
  dbengine tier 2 multihost disk space MB = {{ netdata_dbengine_teir2_space }}
  dbengine tier 2 page cache size MB = {{ netdata_dbengine_teir2_cache }}
  dbengine tier 2 backfill = new
