---
env_purpose: authentik-node

filesystems_physical_drives:
  - vda
  - vdb

filesystems_volume_groups:
  - name: storage
    partitions:
      - /dev/vda2
  - name: data
    partitions:
      - /dev/vdb1

filesystems_physical_partitions:
  - name: ESP
    device: vda
    number: 1
    path: /efi
    start: 1MiB
    end: 256MiB
    flags:
      - esp
    pv_type: fat32
    fs_type: vfat
    fs_opts: -F 32 -n ESP
  - name: LVM
    device: vda
    number: 2
    start: 256MiB
    end: 100%
    flags:
      - lvm
  - name: LVM
    device: vdb
    number: 1
    start: 1MiB
    end: 100%
    flags:
      - lvm

filesystems_logical_volumes:
  - name: system
    group: storage
    path: /
    size: 8G
    fs_type: ext4
    fs_opts: -L SYSTEM
  - name: swap
    group: storage
    size: 1G
    fs_type: swap
    fs_opts: -L SWAP
  - name: journald
    group: storage
    path: /var/log/journal
    size: 256M
    fs_type: ext4
    fs_opts: -L JOURNALD
    mount_opts:
      - nosuid
  - name: pacman
    group: storage
    path: /var/cache/pacman
    size: 2G
    fs_type: ext4
    fs_opts: -L PACMAN
    mount_opts:
      - nosuid
      - nodev
      - noexec
  - name: home
    group: storage
    path: /home
    size: 256M
    fs_type: ext4
    fs_opts: -L HOME
    mount_opts:
      - nosuid
      - nodev
  - name: postgresql
    group: data
    path: /var/lib/postgres
    size: 16G
    fs_type: ext4
    fs_opts: -L POSTGRESQL
    mount_opts:
      - nosuid
  - name: redis
    group: data
    path: /var/lib/redis
    size: 16G
    fs_type: ext4
    fs_opts: -L REDIS
    mount_opts:
      - nosuid

postgresql_replication_hosts: "{{ groups['authentik'] | default([]) }}"
postgresql_replication_username: replicator
postgresql_replication_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  39326133613062633536393730616130333937623731313666396166343836616533643862313563
  6130623332313234353561666436636333343435316163360a366636363463353436653565333431
  36333662663764353765616462373966336132356332346132393636343637356264623866646231
  3365636663613136330a356138643230346535353131663262376533396564613131633235626339
  31303534653434643565653066323265666334393638393963636136373536646666313033323565
  36343163633263393530663765306539666561386436623961623330343166393330633064666663
  32306533363733326230356163626364613434346234613331336663653433653931643033613832
  39616632646538303562636538386432346432323735613339366464636438376437616335373039
  65626364346332303134393034393237313236373434386565313430653235366335

postgresql_pg_hba_entries:
  - type: host
    database: "{{ authentik_postgresql_database | default('authentik') }}"
    user: "{{ authentik_postgresql_username | default('authentik') }}"
    # yamllint disable-line rule:line-length
    address: "{{ hostvars['authentik-01.services.kub3.uk'].ansible_facts.default_ipv4.address }}/32"
    method: scram-sha-256
  - type: host
    database: "{{ authentik_postgresql_database | default('authentik') }}"
    user: "{{ authentik_postgresql_username | default('authentik') }}"
    # yamllint disable-line rule:line-length
    address: "{{ hostvars['authentik-02.services.kub3.uk'].ansible_facts.default_ipv4.address }}/32"
    method: scram-sha-256

authentik_public_hostname: auth.n3t.uk

authentik_allowed_hosts: "{{ groups['authentik'] | default([]) }}"

authentik_listen_trusted_proxy_cidrs:
  - "127.0.0.1/32"
  - "::1/128"
  # Because we load balance beteen the two nodes from the nodes themselves,
  # Authentik can see either local host for traffic coming through the current
  # node or the private IP address of the other node if it's being sent to there
  # by Cloudflare, therefore ensure that all relevant addresses are trusted.
  # yamllint disable rule:line-length
  - "{{ hostvars['authentik-01.services.kub3.uk'].ansible_facts.default_ipv4.address }}/32"
  - "{{ hostvars['authentik-01.services.kub3.uk'].ansible_facts.default_ipv6.address }}/128"
  - "{{ hostvars['authentik-02.services.kub3.uk'].ansible_facts.default_ipv4.address }}/32"
  - "{{ hostvars['authentik-02.services.kub3.uk'].ansible_facts.default_ipv6.address }}/128"
  # yamllint enable rule:line-length

authentik_email_from: no-reply@n3t.uk
authentik_email_host: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  39623563663139613535656462303939306438613839663132333731653864353531343465613433
  3532656561663832663833313362363163306664643932340a666465613164356435643434343530
  35353263353864396662643737386437346535666339643338363334613635313236303335323634
  3632363062633633660a633834366366356433636330663839373164306630396138353065383530
  66636636363064656662383834343232346130623433373039626363363138383637
authentik_email_port: 587
authentik_email_use_tls: true
authentik_email_username: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  30623462363261373663303332363335356263373534613339333734643332306565383064636663
  6535656263306635336535613138306430623862353766330a373666326163646666616262386132
  31323661316364336330366137663535376332333932366638303865383435393836333961363432
  6133633238653166350a656138613163656535373431346230643964353562623235376436636561
  3135
authentik_email_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  66653330396336323964353737326366333765343363633365666637326366336234646162323166
  6462636631326166643539613964303039326134366164350a623163316139353364363130336331
  64326162313132316231303038336235633835356562383736663033396531336431343865376265
  6537373437333530660a303832356238393064303033663866336231306632343666303636623530
  35633435306431666235613239653463343164313266363538623533663730396362

authentik_secret_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  34346364373736343566373530326566633436333139306231656334376662343062656234313864
  3465663734356637343662303832313261623632643262310a393831623563613338323463303864
  39663765323535666337373339623962386561313034366235303661366638363931303031363861
  3261653032616330620a623138623763363934303763303263316233623561376638343235383933
  30373738353930386433363265393064343937616338306166373735303932643531343433323762
  66313836623431396434383938636438316562323866613938343563323264303731366135363864
  36396265323238316233653231336431313130613966353630636430373963626635393361323937
  62643962383261343839323963386138393532623239363934613362323037366261313030356366
  65616463656535346139316533613132313739316562336431336231353163323231363235363937
  65646166613232626635643462353538646633313332353638663433396636396533383531663238
  64316637393662393335356333663334353230393763633736643234663462663133653166316238
  35663034306635643534343638383333306135316632383465656638373039616237353962633439
  63323133343866663165373864663036333835386163336239336237366537303533663637303833
  62363065663361643536343930383432616134386233323335636663656633383534303439373038
  36303834396436383031333363666636346662613162663530326636346561363937373333353763
  33663362653531356363363637356363336363653930633739653737353231323763376338373365
  33666466313939656333373938393130353134313661396136366230623635333761

authentik_postgresql_host: authentik-01.services.kub3.uk
authentik_postgresql_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  64356339346338303637383033383136383064323762393266623564313762323230363665633836
  3634393662303835313331633137303939623364666366320a346533613730666336646330333864
  30623838643135373065323264646131646566353334643839356635666234303032323830393062
  3936323661356332660a633633303334623238323566636164623266353361616538343061336538
  62623834393634346133316535333331636662626264356162386230636264343337323264616532
  37616631306265366165663531656437316563313434356233323339626331303638643963653936
  63646231623135386431376666353634353633376438666266653735306238393733396465306130
  39386533373639636363383136343033376464386531363335666665323035643638613163383764
  31323532363738373763616565643531386535653238366138663238623762376232

tailscale_auth_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  63336666643330383634656461613630373365333430303862663738333962326333343137613739
  6639336231366132333563363565626535303731373037370a663636333732313839353865336639
  35303230313830663661363264373238336633643131396231336563323865323131393130353130
  3935303437393334630a323834336363376531666464353632636261623364323766303334356561
  63376430323632666664393535633964636665363333323538336537333834343634623337626333
  65303237643230663439613939353466353262623063396666646532303836333934303161653639
  353632633764653438343838306635316163

cloudflared_account_tag: e0d4aae3f32f077cd16bbc26f615738d
cloudflared_tunnel_id: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  33643032326135303662336535373236663935636334373862646339303531303537663337373763
  3930666461653735356231393632373235653031613535310a616534656639373334396132316232
  36363030663538623933366339373339306565643262323537376233346330356361333936356664
  6134376634643461610a623231313032666665383166633736323137613030343839313730663466
  32383462306365336439393939326136383638393066653631333364356533626166303837636334
  3235316133383633666238323335373836316134633561303039
cloudflared_tunnel_name: kub3-services-authentik
cloudflared_tunnel_token: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  35393939356439396661306231303663303036393230333461623563313238613366663664393565
  3164383137633736626562373333353538646461323539650a373164333936333965653334646565
  37643337613439343665313737656138376365306137306634346337386237363663343262326632
  3634366164303134360a363635373361636632336337643464323361643638393036616164636662
  38646464663435363137333031363963383862656436343937356139373334653162663236613161
  33356166393639343731336330366635343464336266613735306465396535376364343037626664
  30623939396164376339656363343636613763326535386239663837376433383137643030636137
  30366366306437363435633632623437656633383437343431353035613232613934363836383866
  65383236653265613635353365323933653835333935376231396335313537326661326236336564
  38353534646363316662376539373263343532323163316264326439663861303635393633613162
  30373130626234643531316532636165613036623034636163636635333539383732303863383366
  31303265363838333030613265653232393933363737636566303536393037316266643863393661
  64306331633365613231353635333531376232303937303736393034303661633537
