---
env_purpose: bind-node (dns)

filesystems_physical_drives:
  - vda
  - vdb

filesystems_volume_groups:
  - name: storage
    partitions:
      - /dev/vda2
  - name: data
    partitions:
      - /dev/vdb1

filesystems_physical_partitions:
  - name: ESP
    device: vda
    number: 1
    path: /efi
    start: 1MiB
    end: 256MiB
    flags:
      - esp
    pv_type: fat32
    fs_type: vfat
    fs_opts: -F 32 -n ESP
  - name: LVM
    device: vda
    number: 2
    start: 256MiB
    end: 100%
    flags:
      - lvm
  - name: LVM
    device: vdb
    number: 1
    start: 1MiB
    end: 100%
    flags:
      - lvm

filesystems_logical_volumes:
  - name: system
    group: storage
    path: /
    size: 8G
    fs_type: ext4
    fs_opts: -L SYSTEM
  - name: swap
    group: storage
    size: 1G
    fs_type: swap
    fs_opts: -L SWAP
  - name: journald
    group: storage
    path: /var/log/journal
    size: 256M
    fs_type: ext4
    fs_opts: -L JOURNALD
    mount_opts:
      - nosuid
  - name: pacman
    group: storage
    path: /var/cache/pacman
    size: 2G
    fs_type: ext4
    fs_opts: -L PACMAN
    mount_opts:
      - nosuid
      - nodev
      - noexec
  - name: home
    group: storage
    path: /home
    size: 256M
    fs_type: ext4
    fs_opts: -L HOME
    mount_opts:
      - nosuid
      - nodev
  - name: bind
    group: data
    path: /var/lib/bind
    size: 1G
    fs_type: ext4
    fs_opts: -L BIND
    mount_opts:
      - nosuid

tailscale_auth_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  30653632666130373762613231366537616339643935373864303836313163393134626161623136
  6637316364363338653937666334613461393133303333660a373932393833333731326639643433
  62323363646430633962613361323833613737396636376136346435343038663134626237323266
  3766643130616565330a356439303536623333613234623034383733633134396336333634616533
  31333737333830383363373163353938313436653831356638376533663337356561643933316362
  64376666623337366535616162636465303537333939303337346431353437316432616132313336
  663663626461656530393766313137323237

bind_forwarders:
  - 1.1.1.1
  - 1.0.0.1
  - 2606:4700:4700::1111
  - 2606:4700:4700::1001
bind_dnssec_validation: "no"

bind_rndc_group_members:
  - user: jonathan
bind_tsig_group_members:
  - user: jonathan

bind_views:
  - name: tailnet
    comment: |-
      A view specifically for any clients requesting DNS records from within the
      Tailscale Tailnet network, and therefore should receive Tailnet-specific
      addresses, where configured, for internal services, and normal addresses
      for everything else.
    domains:
      - name: n3t.uk
        tsig: # master and slaves always has access via TSIG
          - external-dns
          - cert-manager
      - name: kub3.uk
        tsig:
          - external-dns
          - cert-manager
      - name: pip3.uk
        tsig:
          - external-dns
          - cert-manager
      - name: t3st.uk
        tsig:
          - external-dns
          - cert-manager
      - name: sit3.uk
        tsig:
          - external-dns
          - cert-manager
      - name: liv3.uk
        tsig:
          - external-dns
          - cert-manager
      - name: localhost
      - name: 6.0.0.8.0.1.0.8.2.0.a.2.ip6.arpa
      - name: 0.e.1.a.c.5.1.1.a.7.d.f.ip6.arpa
        forwarders:
          - 100.100.100.100
      - name: 1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa
      - name: 23.172.in-addr.arpa
      - name: 27.172.in-addr.arpa
      - name: 64.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 65.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 66.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 67.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 68.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 69.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 70.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 71.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 72.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 73.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 74.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 75.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 76.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 77.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 78.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 79.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 80.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 81.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 82.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 83.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 84.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 85.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 86.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 87.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 88.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 89.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 90.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 91.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 92.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 93.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 94.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 95.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 96.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 97.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 98.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 99.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 100.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 101.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 102.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 103.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 104.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 105.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 106.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 107.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 108.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 109.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 110.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 111.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 112.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 113.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 114.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 115.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 116.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 117.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 118.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 119.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 120.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 121.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 122.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 123.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 124.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 125.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 126.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 127.100.in-addr.arpa
        forwarders:
          - 100.100.100.100
      - name: 127.in-addr.arpa
    cidrs:
      - fd7a:115c:a1e0::/48
      - ::1/128
      - 100.64.0.0/10
      - 127.0.0.0/8
    servers:
      master: dns-01.services.kub3.uk
      slaves:
        - name: dns-02.services.kub3.uk
          algorithm: hmac-sha512
          secret: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            61646562366266376564343834323631366638653239336139376266383235366635623161653933
            3334646561386131373362386333313736303866313730300a373361666266663061623834626230
            35393531373665343161656235343362373336623333653065336131353133353435343465623739
            3764313536383761350a643461626365663530623436626138663733653735383837366139313931
            38323439356264663562623839326232636165613934383565666665313366626236316435656439
            30313365323666393433366536333166336536326639303230313666353165626237333731343061
            63386233653561323961636466663535306234316335633731616531373866666438316534313339
            64336336653335363636626534336237343566616563393538366235646136363365646136356161
            3438
    tsig:
      master:
        algorithm: hmac-sha512
        secret: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          31653063386434633565623433636437363639326263383138653962656432373037336337306564
          3765623663663031313237636439396332646638643234320a656432316564653965646630666437
          34323465303132313963386132376261616138666337653963613161313031356437636339643565
          3538363131306161380a646661313065376362666161326166373238313937396235353032353730
          31636137303634333730326531323663383861313532633464343736616636333161396664393436
          31303133313634626565646333383464383931393435393561623936373531613362663462396165
          62366635386436373033363262646462326464326230316430393734643431653163376531613565
          37333738393836633836336665323033366235653733656333313366633132326339343537306238
          3938
      rfc2136:
        - name: external-dns
          grants:
            - zonesub A AAAA CNAME TXT
          cidrs:
            - 172.23.0.0/16
            - 2a02:8010:8006::/48
          algorithm: hmac-sha256
          secret: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            64623433373361633936383038363539353564373034393465333034363531393937376636636566
            6638323264343732396661303566633663333533303631610a343263636164316638353063646434
            36663537663439316461643835366463643061646563646232666363663162383865323565383262
            3234343765386138340a323638653838313830376263323633366635396266653564306166393334
            65306232363532333837313033613535633265656539663762656438343963366133373864363930
            3432663235623836303861623432353839386366663565613138
        - name: cert-manager
          grants:
            - zonesub TXT
          cidrs:
            - 172.23.0.0/16
            - 2a02:8010:8006::/48
          algorithm: hmac-sha256
          secret: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            38613962316330623435313134646431303733313461396331633065396566353261343636386336
            3862616462376532373861393062393338633265366130620a363832633934633331653034353666
            36653566353037323635613739353566353037626337656234656537623631306430383538333439
            3935363064333932330a653839663838343631373864623439616465333664303831653965393564
            64383662623063306433643231643163663039346461323131306530616338323764323030303234
            3862356338396464653839653531373737383934616334623433

  - name: n3tuk
    comment: |-
      A view specifically for any clients requesting DNS records from within the
      n3t.uk Lab or Home environments, and therefore should receive only
      internal addresses for internal services, nothing related to the Tailscale
      network, and normal public addresses for everything else.
    domains:
      - name: n3t.uk
        tsig:
          - external-dns
          - cert-manager
      - name: kub3.uk
        tsig:
          - external-dns
          - cert-manager
      - name: pip3.uk
        tsig:
          - external-dns
          - cert-manager
      - name: t3st.uk
        tsig:
          - external-dns
          - cert-manager
      - name: sit3.uk
        tsig:
          - external-dns
          - cert-manager
      - name: liv3.uk
        tsig:
          - external-dns
          - cert-manager
      - name: localhost
      - name: 6.0.0.8.0.1.0.8.2.0.a.2.ip6.arpa
      - name: 1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa
      - name: 23.172.in-addr.arpa
      - name: 27.172.in-addr.arpa
      - name: 127.in-addr.arpa
    cidrs:
      - 2a02:8010:8006::/48
      - fe80::/10
      - 172.23.0.0/16
      - 172.27.0.0/16
    servers:
      master: dns-01.services.kub3.uk
      slaves:
        - name: dns-02.services.kub3.uk
          algorithm: hmac-sha512
          secret: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            38333832393663383131336530373130326234366339306439623165636239333030376466643566
            6231643334363233353837326230373539633361653133330a363633623139333535393662373137
            38396365376263323530386633663266386333353134653934373662646331383835393631616136
            6461656531313139320a306161366266633330353361333035373339363863633937313436396530
            38353962363662313464323135363066363538633838383861643161643131633865383534636130
            64396262643037383234303733396365353330623266383466663631333564656630323434303866
            38356462386537343436613539663932646230616332303231356565383465313138303336306233
            30663362643663373265636436363337653731613263656231353865393932396139366632333764
            6136
    tsig:
      master:
        algorithm: hmac-sha512
        secret: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          32353235343530663032343138326564353737393136323364666232306639363838653636666538
          6261646333306462626165623730373166396331623665300a636261333432653232393435336531
          61363339656461353166366665656135653935333066373538353264666431306539646134666663
          6131383438663038320a313963643736623433663363383835396331396562356337663735316437
          61383564383762326262643865656333336238663437643738316234336230613962656163663733
          35343036663336646130376134363038313135653236366162663931396531316461363830336566
          30363033383465616630396135393239653139643439336631313436623466633730336439623533
          65613935343931636431623834633239313866333462363863653938306332353763326330336237
          3534
      rfc2136:
        - name: external-dns
          grants:
            - zonesub A AAAA CNAME TXT
          cidrs:
            - 172.23.0.0/16
            - 2a02:8010:8006::/48
          algorithm: hmac-sha256
          secret: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            34613239653536653064316563666538653535613437656136303563396339653561316238376165
            3763303736653432363737383033623662643937393066660a376437636364346363613061306662
            66643734313662663537346161336638383764323137643064356164616665626131326665326235
            3139373061653863350a363033663561396264356137373663396637616237333739616137616165
            37363963643731386662323530353637363432303235393164326661316533663233666239366430
            6238383065316635343539626130356463636339326165343533
        - name: cert-manager
          grants:
            - zonesub TXT
          cidrs:
            - 172.23.0.0/16
            - 2a02:8010:8006::/48
          algorithm: hmac-sha256
          secret: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            35393236633535313262646432623061313865313262353336336232383732316462373136653831
            3732376661306564343366613534326633343134373735320a386132336534303833363435376331
            63333130653561633736636163613333666166353837343532623661663430326466353231356133
            6466613564353035630a396138616236336561643066343062313634653066313930303063373765
            35313739613733323961383531623539336564656364336366363536383037363833656335323533
            6331633564623835623932343832313362323362343262313562
