# {{ ansible_managed }}

[Unit]
Description=Cloudflare Tunnel Daemon for %i
After=network.target
Wants=network.target

[Service]
Type=simple
User=cloudflared
Group=cloudflared
ExecStart=/usr/bin/cloudflared --config /etc/cloudflared/%i.yaml tunnel run
Restart=on-failure
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
