---
# tasks file for starship

- name: Install on Arch Linux
  ansible.builtin.include_tasks:
    file: arch.yaml
  when: >-
    ansible_facts.distribution == 'ArchLinux' and
    (bootstrap_mount_base | default('') | length == 0)

- name: Install on Debian Linux
  ansible.builtin.include_tasks:
    file: debian.yaml
  when: ansible_facts.distribution == 'Debian'

- name: Prepare the local directories
  ansible.builtin.file:
    # yamllint disable-line rule:line-length
    path: "{{ bootstrap_mount_base | default('') }}/{{ directory }}/.config"
    state: directory
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
  loop: "{{ starship_config_dirs }}"
  loop_control:
    loop_var: directory
    label: /{{ directory }}/.config
  tags:
    - starship
    - configuration

- name: Configure Starship
  ansible.builtin.template:
    src: starship.toml.jinja
    # yamllint disable-line rule:line-length
    dest: "{{ bootstrap_mount_base | default('') }}/{{ directory }}/.config/starship.toml"
    owner: root
    group: root
    mode: u=rw,g=r,o=
  loop: "{{ starship_config_dirs }}"
  loop_control:
    loop_var: directory
    label: /{{ directory }}/.config/starship.toml
  tags:
    - starship
    - configuration
