---
# handlers file for systemd-networkd

- name: Run networkctl reload locally
  ansible.builtin.command: # noqa no-changed-when
    cmd: /usr/bin/networkctl reload
  # Only allow a handler to run when we're not inside a chroot environment
  when: bootstrap_mount_base | default('') | length == 0
