---
# configuration-specific tasks file for authentik

- name: Create or update the environment file
  ansible.builtin.template:
    src: environment.jinja
    dest: /etc/default/{{ authentik_service_prefix }}
    owner: root
    group: root
    mode: u=rw,g=,o=
  # This file contains secrets, including keys and passwords
  no_log: true
  notify:
    - Restart Authentik Server
    - Restart Authentik Worker
  tags:
    - authentik
    - configuration

- name: Create or update the {{ caddy_config_file }}
  ansible.builtin.template:
    src: Caddyfile.jinja
    # yamllint disable-line rule:line-length
    dest: "{{ caddy_config_path }}/{{ caddy_config_file }}.d/{{ authentik_caddy_config_file }}"
    owner: "{{ caddy_user }}"
    group: "{{ caddy_group }}"
    mode: u=rw,g=r,o=r
  # This file contains secrets, including Cloudflare keys
  no_log: true
  notify:
    - Reload Caddy
  tags:
    - authentik
    - caddy
    - configuration

- name: Create the Authentik user in PostgreSQL
  community.postgresql.postgresql_user:
    login_unix_socket: "{{ postgresql_socket_path }}"
    name: "{{ authentik_postgresql_username }}"
    password: "{{ authentik_postgresql_password }}"
    role_attr_flags: LOGIN
    state: present
  environment:
    PGOPTIONS: "-c password_encryption=scram-sha-256"
  become: true
  become_user: "{{ postgresql_service_user }}"
  when: >-
    not ansible_check_mode and
    authentik_postgresql_manager is defined and
    authentik_postgresql_manager

- name: Create the Authentik database in PostgreSQL
  community.postgresql.postgresql_db:
    login_unix_socket: "{{ postgresql_socket_path }}"
    name: "{{ authentik_postgresql_database }}"
    owner: "{{ authentik_postgresql_username }}"
    state: present
  become: true
  become_user: "{{ postgresql_service_user }}"
  when: >-
    not ansible_check_mode and
    authentik_postgresql_manager is defined and
    authentik_postgresql_manager
