---
# firewall-specific tasks file for authentik

- name: Enable firewall access for Authentik
  community.general.ufw:
    rule: allow
    from_ip: "{{ hostvars[host.0].ansible_facts[host.1].address }}"
    proto: tcp
    port: "{{ authentik_listen_http }},{{ authentik_listen_https }}"
    comment: >-
      Allow Authentik for {{ hostvars[host.0].ansible_facts.fqdn }}
  when: >-
    hostvars[host.0].ansible_facts[host.1] is defined
  loop: >-
    {{ authentik_allowed_hosts | unique | difference([inventory_hostname])
       | product(['default_ipv4', 'default_ipv6']) | list }}
  loop_control:
    label: >-
      allow from
      {{ hostvars[host.0].ansible_facts[host.1].address }}
      to {{ authentik_listen_http }},{{ authentik_listen_https }}/tcp
    loop_var: host
  tags:
    - authentik
    - firewall
