// {{ ansible_managed }}

options {
  directory "{{ bind_var_path }}";
  pid-file "{{ bind_run_path }}/named.pid";
  version "0.0.0"; // Hide the version of BIND for security reasons

  listen-on port {{ bind_port_dns }} { {{ bind_listen_ipv4_addresses | join('; ') }}; };
  listen-on-v6 port {{ bind_port_dns }} { {{ bind_listen_ipv6_addresses | join('; ') }}; };

  recursion yes;
  allow-recursion { recursive-hosts-acl; };
  allow-query-cache { recursive-hosts-acl; };

  notify explicit;
  allow-transfer { none; };
{%  if bind_dns64_hosts | length > 0 %}

  dns64 64:ff9b::/96 {
    clients { dns64-hosts-acl; };
    mapped { any; };
    break-dnssec yes;
  };
{%  endif %}

  forward only;
  forwarders {
{%  for forwarder in bind_forwarders %}
    {{ forwarder }};
{%  endfor %}
  };

  dnssec-validation {{ bind_dnssec_validation }};
};

acl recursive-hosts-acl {
  // Always support the loopback interface for recursive queries
  127.0.0.1;
  ::1;
{%  for host in bind_recursive_hosts %}
{%    if host.comment is defined %}
  // {{ host.comment }}
{%    endif %}
  {{ host.address }};
{%  endfor %}
};
{%  if bind_dns64_hosts | length > 0 %}

acl dns64-hosts-acl {
{%    for host in bind_dns64_hosts %}
{%      if host.comment is defined %}
  // {{ host.comment }}
{%      endif %}
  {{ host.address }};
{%    endfor %}
};
{%  endif %}
{%  if bind_rndc_key_secret | length > 0 %}

// Set up the RNDC key for remote administration, but only from within the
// server itself via the loopback interface (::1) for security reasons
key {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-access-key {
  algorithm hmac-sha512;
  secret "{{ bind_rndc_key_secret }}";
};

controls {
  inet ::1 port 953
    allow { ::1; }
    keys { {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-access-key; };
};
{%  endif %}

// Create a dedicated view which can prevent the use of information commands in
// DNS amplified reflection DoS attacks, or just general excessive querying
view override_bind chaos {
  rate-limit {
    responses-per-second 3;
    slip 0;
    min-table-size 10;
  };

  zone version.bind chaos {
    type master;
    database "_builtin version";
  };

  zone hostname.bind chaos {
    type master;
    database "_builtin hostname";
  };

  zone authors.bind chaos {
    type master;
    database "_builtin authors";
  };

  zone id.server chaos {
    type master;
    database "_builtin id";
  };
};
{%  for view in bind_views %}

// {{ view.name }} View {{ '-' * ( 80 - 9 - view.name | length ) }}
{%    if view.comment is defined %}

{%      for line in view.comment.splitlines() %}
// {{ line }}
{%      endfor %}
{%    endif %}
{%    if ( view.servers is defined and
           view.servers.master is defined and
           inventory_hostname == view.servers.master) and
         ( view.tsig is defined and
           view.tsig.master is defined and
           view.tsig.master.secret is defined ) %}

// The master RFC2136 key for {{ ansible_facts.fqdn }} to review and update
// this view from the master DNS server only (i.e. ::1 only)
key {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-key {
  algorithm {{ view.tsig.master.algorithm | default('hmac-sha256') }};
  secret "{{ view.tsig.master.secret }}";
};

acl {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-acl {
  // Check and reject requests from any source address not permitted, and verify
  // that any request made is also signed by the key for this server and view.
  !{ !::1; any; };
  key {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-key;
};
{%    endif %}
{%    if ( view.servers is defined and
           view.servers.master is defined and
           view.servers.slaves is defined ) and
         inventory_hostname == view.servers.master %}
{%      for slave in view.servers.slaves %}
{%        if slave.secret is defined %}

// The RFC2136 key for the downstream server {{ slave.name }} to
// communicate with this server, validating notifications from this server and
// requesting zone transfers.
key {{ slave.name | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-key {
  algorithm {{ slave.algorithm | default('hmac-sha256') }};
  secret "{{ slave.secret }}";
};

acl {{ slave.name | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-acl {
  !{
{%-         if hostvars[slave.name].ansible_facts.tailscale0 is defined and
               hostvars[slave.name].ansible_facts.tailscale0.ipv6 is defined and
               hostvars[slave.name].ansible_facts.tailscale0.ipv6 | length > 0 %}
 !{{ hostvars[slave.name].ansible_facts.tailscale0.ipv6[0].address }};
{%-         else %}
 !{{ hostvars[slave.name].ansible_facts.default_ipv6.address }};
{%-         endif %} any; };
  key {{ slave.name | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-key;
};
{%        endif %}
{%      endfor %}
{%    else %}
{%      for slave in view.servers.slaves %}
{%        if ( slave.secret is defined and
               inventory_hostname == slave.name ) %}

// The {{ view.name}} RFC2136 key for this server to communicate with the upstream
// server ({{ view.servers.master }}) to validate notifications and request
// zone transfers
key {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-key {
  algorithm {{ slave.algorithm | default('hmac-sha256') }};
  secret "{{ slave.secret }}";
};

acl {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-acl {
  // Check and reject requests from any source address not permitted, and verify
  // that any request made is also signed by the key for this server and view.
  !{
{%-         if hostvars[view.servers.master].ansible_facts.tailscale0 is defined and
               hostvars[view.servers.master].ansible_facts.tailscale0.ipv6 is defined and
               hostvars[view.servers.master].ansible_facts.tailscale0.ipv6 | length > 0 %}
 !{{ hostvars[view.servers.master].ansible_facts.tailscale0.ipv6[0].address }};
{%-         else %}
 !{{ hostvars[view.servers.master].ansible_facts.default_ipv6.address }};
{%-         endif %} any; };
  key {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-key;
};
{%        endif %}
{%      endfor %}
{%    endif %}
{%    if ( view.servers is defined and
           view.servers.master is defined and
           inventory_hostname == view.servers.master) and
         ( view.tsig is defined and
           view.tsig.rfc2136 is defined ) %}
{%      for rfc2136 in view.tsig.rfc2136 %}

// The {{ view.name }} RFC2136 key for the {{ rfc2136.name }} service
// to review and update selected zones on this master server
key service-{{ rfc2136.name }}-{{ view.name }}-update-key {
  algorithm {{ rfc2136.algorithm | default('hmac-sha256') }};
  secret "{{ rfc2136.secret }}";
};

acl service-{{ rfc2136.name }}-{{ view.name }}-update-acl {
{%        if rfc2136.cidrs is defined and rfc2136.cidrs | length > 0 %}
  // Check and reject requests from any source address not permitted, and verify
  // that any request made is also signed by the key for this server and view.
  !{
{%          for cidr in rfc2136.cidrs %}
{%            if cidr.comment is defined %}
    // {{ cidr.comment }}
{%            endif %}
    !{{ cidr.address }};
{%          endfor %}
    any; // i.e. block any sources other than the above CIDR blocks
  };
{%        else %}
  // Verify only that any request made is signed by the key for this server and
  // view, regardless of the source address of the request.
{%        endif %}
  key service-{{ rfc2136.name }}-{{ view.name }}-update-key;
};
{%      endfor %}
{%    endif %}

// An ACL of the client CIDR blocks which will be allowed to make requests and
// recursive queries against this server and this view
acl {{ view.name }}-clients-acl {
{%    if view.cidrs is defined %}
{%      for cidr in view.cidrs %}
{%        if cidr.comment is defined %}
  // {{ cidr.comment }}
{%        endif %}
  {{ cidr.address }};
{%      endfor %}
{%    else %}
  // No clients are defined for this view, so no clients will be allowed to
  // make requests or recursive queries against this DNS server and this view
  !any;
{%    endif %}
};

view {{ view.name }} {
  match-clients {
{%    if ( view.servers is defined and
           view.servers.master is defined and
           inventory_hostname == view.servers.master) %}
{%      if ( view.tsig is defined and
             view.tsig.master is defined and
             view.tsig.master.secret is defined ) %}
    {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-acl;
{%      endif %}
{%      if view.servers.slaves is defined %}
{%        for slave in view.servers.slaves %}
{%          if slave.secret is defined %}
{%        for _view in bind_views %}
{%          if _view.name != view.name %}
    !{{ slave.name | split('.') | reverse | join('-') }}-{{ _view.name }}-transfer-acl;
{%          endif %}
{%        endfor %}
    {{ slave.name | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-acl;
{%          endif %}
{%        endfor %}
{%      endif %}
{%      if ( view.tsig is defined and
             view.tsig.rfc2136 is defined ) %}
{%        for rfc2136 in view.tsig.rfc2136 %}
    service-{{ rfc2136.name }}-{{ view.name }}-update-acl;
{%        endfor %}
{%      endif %}
{%    else %}
{%      if ( view.servers is defined and
             view.servers.master is defined ) %}
    // Ensure that only the valid upstream server and the upstream RFC2136 key
    // for this server and view are permitted as clients to this view
{%        for _view in bind_views %}
{%          if _view.name != view.name %}
    !{{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ _view.name }}-transfer-acl;
{%          endif %}
{%        endfor %}
    {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-acl;
{%      endif %}
{%    endif %}
    {{ view.name }}-clients-acl;
  };

  allow-recursion {
    {{ view.name }}-clients-acl;
  };
{%    for domain in view.domains %}

  zone {{ domain.name }} IN {
{%      if ( domain.forwarders is defined and
             domain.forwarders | length > 0 ) %}
    type forward; // domain-specific forwarder

    forward only;
    forwarders {
{%        for forwarder in domain.forwarders %}
      {{ forwarder }};
{%        endfor %}
    };
{%      elif ( view.servers is not defined or
               view.servers.master is not defined or
               inventory_hostname != view.servers.master ) and
             ( view.servers is not defined or
               view.servers.slaves is not defined or
               inventory_hostname not in ( view.servers.slaves | map(attribute='name') ) ) %}
    type master; // standalone master
{%        if ( view.tsig is defined and
               ( ( view.tsig.master is defined and
                   view.tsig.master.secret is defined ) or
                 view.tsig.rfc2136 is defined ) ) %}

    update-policy {
{%          if view.tsig.master is defined and
               view.tsig.master.secret is defined %}
      grant {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-key zonesub ANY;
{%          endif %}
{%          if view.tsig.rfc2136 is defined %}
{%            for rfc2136 in view.tsig.rfc2136 %}
{%              if domain.tsig is defined and
                   rfc2136.name is in domain.tsig %}
{%                for grant in rfc2136.grants %}
      grant service-{{ rfc2136.name }}-{{ view.name }}-update-key {{ grant }};
{%                endfor %}
{%              endif %}
{%            endfor %}
{%          endif %}
    };

    allow-transfer {
{%          if view.tsig.master is defined %}
      {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-key;
{%          endif %}
{%          if view.tsig.rfc2136 is defined %}
{%            for rfc2136 in view.tsig.rfc2136 %}
{%              if domain.tsig is defined and
                   rfc2136.name is in domain.tsig %}
      service-{{ rfc2136.name }}-{{ view.name }}-update-key;
{%              endif %}
{%            endfor %}
{%          endif %}
    };
{%        endif %}

    masterfile-format text;
    file "{{ view.name }}/{{ domain.name }}.zone";
{%      elif inventory_hostname == view.servers.master %}
    type master; // upstream master
{%        if ( view.tsig is defined and
               ( ( view.tsig.master is defined and
                   view.tsig.master.secret is defined ) or
                 view.tsig.rfc2136 is defined ) ) %}

    update-policy {
{%          if view.tsig.master is defined and
               view.tsig.master.secret is defined %}
      grant {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-key zonesub ANY;
{%          endif %}
{%          if view.tsig.rfc2136 is defined %}
{%            for rfc2136 in view.tsig.rfc2136 %}
{%              if domain.tsig is defined and
                   rfc2136.name is in domain.tsig %}
{%                for grant in rfc2136.grants %}
      grant service-{{ rfc2136.name }}-{{ view.name }}-update-key {{ grant }};
{%                endfor %}
{%              endif %}
{%            endfor %}
{%          endif %}
    };
{%        endif %}

    allow-transfer {
{%        if view.tsig.master is defined and
             view.tsig.master.secret is defined %}
      {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-acl;
{%        endif %}
{%        for slave in view.servers.slaves %}
{%          if slave.secret is defined %}
      {{ slave.name | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-acl;
{%          endif %}
{%        endfor %}
{%        if view.tsig.rfc2136 is defined %}
{%          for rfc2136 in view.tsig.rfc2136 %}
{%              if domain.tsig is defined and
                   rfc2136.name is in domain.tsig %}
      service-{{ rfc2136.name }}-{{ view.name }}-update-acl;
{%              endif %}
{%          endfor %}
{%        endif %}
    };

    also-notify {
{%        for slave in view.servers.slaves %}
{%          if slave.secret is defined %}
{%            if hostvars[slave.name].ansible_facts.tailscale0 is defined and
                 hostvars[slave.name].ansible_facts.tailscale0.ipv6 is defined and
                 hostvars[slave.name].ansible_facts.tailscale0.ipv6 | length > 0 %}
      {{ hostvars[slave.name].ansible_facts.tailscale0.ipv6[0].address }} key {{ slave.name | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-key;
{%            else %}
      {{ hostvars[slave.name].ansible_facts.default_ipv6.address }} key {{ slave.name | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-key;
{%            endif %}
{%          endif %}
{%        endfor %}
    };

    masterfile-format text;
    file "{{ view.name }}/{{ domain.name }}.zone";
{%      elif inventory_hostname is in ( view.servers.slaves | map(attribute='name') ) %}
    type slave; // downstream slave

    masters {
{%        if hostvars[view.servers.master].ansible_facts.tailscale0 is defined and
             hostvars[view.servers.master].ansible_facts.tailscale0.ipv6 is defined and
             hostvars[view.servers.master].ansible_facts.tailscale0.ipv6 | length > 0 %}
      {{ hostvars[view.servers.master].ansible_facts.tailscale0.ipv6[0].address }} key {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-key;
{%        else %}
      {{ hostvars[view.servers.master].ansible_facts.default_ipv6.address }} key {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-key;
{%        endif %}
    };

    masterfile-format text;
    file "{{ view.name }}/{{ domain.name }}.zone";
{%      else %}
    type slave; // unconfigured slave
    masterfile-format text;
    file "{{ view.name }}/{{ domain.name }}.zone";
{%      endif %}
  };
{%    endfor %}
};
{%  endfor %}

logging {
  channel debug-log {
    file "{{ bind_log_path }}/debug.log" versions 2 size 8m;
    print-time yes;
    print-category yes;
    print-severity yes;
    severity dynamic;
  };

  channel general-log {
    file "{{ bind_log_path }}/named.log" versions 3 size 32m;
    print-time yes;
    print-category yes;
    print-severity yes;
    severity warning;
  };

  category default { general-log; debug-log; };
  category config { general-log; debug-log; };
  category dispatch { general-log; debug-log; };
  category network { general-log; debug-log; };
  category general { general-log; debug-log; };

  channel update-log {
    file "{{ bind_log_path }}/update.log" versions 3 size 32m;
    print-time yes;
    print-category yes;
    print-severity yes;
    severity warning;
  };

  category update { update-log; debug-log; };

  channel dnssec-log {
    file "{{ bind_log_path }}/dnssec.log" versions 3 size 4m;
    print-time yes;
    print-category yes;
    print-severity yes;
    severity warning;
  };

  category dnssec { dnssec-log; debug-log; };

  channel security-log {
    file "{{ bind_log_path }}/security.log" versions 3 size 16m;
    print-time yes;
    print-category yes;
    print-severity yes;
    severity info;
  };

  category security { security-log; debug-log; };
  category update-security { security-log; debug-log; };

  channel client-log {
    file "{{ bind_log_path }}/client.log" versions 3 size 4m;
    print-time yes;
    print-category yes;
    print-severity yes;
    severity info;
  };

  category client { client-log; debug-log; };

  channel xfer-log {
    file "{{ bind_log_path }}/xfer.log" versions 3 size 16m;
    print-time yes;
    print-category yes;
    print-severity yes;
    severity info;
  };

  category xfer-in { xfer-log; debug-log; };
  category xfer-out { xfer-log; debug-log; };
  category notify { xfer-log; debug-log; };
};
