// {{ ansible_managed }}

options {
  directory "{{ bind_var_path }}";
  pid-file "{{ bind_run_path }}/named.pid";

  listen-on port {{ bind_port_dns }} { {{ bind_listen_ipv4_addresses | join('; ') }}; };
  listen-on-v6 port {{ bind_port_dns }} { {{ bind_listen_ipv6_addresses | join('; ') }}; };

  notify explicit;
  allow-transfer { none; };

  forward only;
  forwarders {
{%  for forwarder in bind_forwarders %}
    {{ forwarder }};
{%  endfor %}
  };

  dnssec-validation {{ bind_dnssec_validation }};
};
{%  if bind_rndc_key_secret | length > 0 %}

// Set up the RNDC key for remote administration, but only from within the
// server itself via localhost
key {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-access-key {
  algorithm hmac-sha512;
  secret "{{ bind_rndc_key_secret }}";
};

controls {
  inet ::1 port 953
    allow { ::1; }
    keys { {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-access-key; };
};
{%  endif %}

// Create a dedicated view which can prevent the use of information commands in
// DNS amplified reflection DoS attacks, or just general excessive querying
view override_bind chaos {
  rate-limit {
    responses-per-second 3;
    slip 0;
    min-table-size 10;
  };

  zone version.bind chaos {
    type master;
    database "_builtin version";
  };

  zone hostname.bind chaos {
    type master;
    database "_builtin hostname";
  };

  zone authors.bind chaos {
    type master;
    database "_builtin authors";
  };

  zone id.server chaos {
    type master;
    database "_builtin id";
  };
};
{%  for view in bind_views %}

// {{ view.name }} View
{%    if view.comment is defined %}
//
{%      for line in view.comment.splitlines() %}
// {{ line }}
{%      endfor %}
{%    endif %}
{%    if ( view.servers is defined and
           view.servers.master is defined and
           inventory_hostname == view.servers.master) and
         ( view.tsig is defined and
           view.tsig.master is defined and
           view.tsig.master.secret is defined ) %}

// The master RFC2136 key for {{ ansible_facts.fqdn }} to review and update
// this view from the master DNS server only (i.e. ::1 only)
key {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-key {
  algorithm {{ view.tsig.master.algorithm | default('hmac-sha256') }};
  secret "{{ view.tsig.master.secret }}";
};

acl {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-acl {
  // Immediately check and reject requests from any source address not allowed
  // for the master server associated with the following key (i.e. ::1 only),
  // and if the source address matches, ensure that the request is signed by the
  // master key
  !{
    !any;
    ::1;
  };

  key {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-key;
};
{%    endif %}
{%    if ( view.servers is defined and
           view.servers.master is defined and
           view.servers.slaves is defined ) %}
{%      for slave in view.servers.slaves %}
{%        if ( inventory_hostname == view.servers.master or
               inventory_hostname == slave.name ) and
             slave.secret is defined %}

{%          if inventory_hostname == view.servers.master  %}
// An RFC2136 key for the {{ slave.name }} downstream slave server
// to transfer zones in this view from this master server
{%          else %}
// An RFC2136 key for this server to transfer zones from the upstream
// master server ({{ view.servers.master }}) for this view
{%          endif %}
key {{ slave.name | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-key {
  algorithm {{ slave.algorithm | default('hmac-sha256') }};
  secret "{{ slave.secret }}";
};

acl {{ slave.name | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-acl {
  // Immediately check and reject requests from any source address not allowed
  // for the slave server associated with the following key, and if the source
  // address matches, ensure that the request is signed by the slave server's key
  !{
    !any;
    {{ hostvars[slave.name].ansible_facts.default_ipv6.address }};
{%          if hostvars[slave.name].ansible_facts.tailscale0 is defined and
               hostvars[slave.name].ansible_facts.tailscale0.ipv6 is defined and
               hostvars[slave.name].ansible_facts.tailscale0.ipv6 | length > 0 %}
    {{ hostvars[slave.name].ansible_facts.tailscale0.ipv6[0].address }};
{%          endif %}
  };

  key {{ slave.name | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-key;
};
{%        endif %}
{%      endfor %}
{%    endif %}
{%    if ( view.servers is defined and
           view.servers.master is defined and
           inventory_hostname == view.servers.master) and
         ( view.tsig is defined and
           view.tsig.rfc2136 is defined ) %}
{%      for rfc2136 in view.tsig.rfc2136 %}

// An RFC2136 key for the {{ rfc2136.name }} service to review and
// update selected zones in this view on this master server
key service-{{ rfc2136.name }}-{{ view.name }}-update-key {
  algorithm {{ rfc2136.algorithm | default('hmac-sha256') }};
  secret "{{ rfc2136.secret }}";
};

acl service-{{ rfc2136.name }}-{{ view.name }}-update-acl {
{%        if rfc2136.cidrs is defined and rfc2136.cidrs | length > 0 %}
  // Immediately check and reject requests from any source address not allowed
  // for the service associated with the following key, and if the source
  // address matches, ensure that the request is signed by the service's key
  !{
    !any;
{%          for cidr in rfc2136.cidrs %}
    {{ cidr }};
{%          endfor %}
  };

{%        else %}
  // Check that the request is signed by the service's key, regardless of the
  // source of the request, as no source restrictions have been defined
{%        endif %}
  key service-{{ rfc2136.name }}-{{ view.name }}-update-key;
};
{%      endfor %}
{%    endif %}

// An ACL of the allowed client CIDR blocks configured which can be allowed
// to make requests and recursive queries against this DNS server and this view
acl {{ view.name }}-clients-acl {
{%    for cidr in view.cidrs %}
  {{ cidr }};
{%    endfor %}
};

view {{ view.name }} {
  match-clients {
    {{ view.name }}-clients-acl;
{%    if ( view.servers is defined and
           view.servers.master is defined and
           inventory_hostname == view.servers.master) and
         ( view.tsig is defined and
           view.tsig.master is defined and
           view.tsig.master.secret is defined ) %}
    {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-acl;
{%    endif %}
{%    if ( view.servers is defined and
           view.servers.master is defined and
           view.servers.slaves is defined ) %}
{%      for slave in view.servers.slaves %}
{%        if slave.secret is defined %}
    {{ slave.name | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-acl;
{%        endif %}
{%      endfor %}
{%    endif %}
{%    if ( view.servers is defined and
           view.servers.master is defined and
           inventory_hostname == view.servers.master) and
         ( view.tsig is defined and
           view.tsig.rfc2136 is defined ) %}
{%      for rfc2136 in view.tsig.rfc2136 %}
    service-{{ rfc2136.name }}-{{ view.name }}-update-acl;
{%      endfor %}
{%    endif %}
  };

  allow-recursion {
    {{ view.name }}-clients-acl;
{%    if ( view.servers is defined and
           view.servers.master is defined and
           inventory_hostname == view.servers.master) and
         ( view.tsig is defined and
           view.tsig.master is defined and
           view.tsig.master.secret is defined ) %}
    {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-acl;
{%    endif %}
  };
{%    for domain in view.domains %}

  zone {{ domain.name }} IN {
{%      if ( domain.forwarders is defined and
             domain.forwarders | length > 0 ) %}
    type forward; // domain-specific forwarder

    forward only;
    forwarders {
{%        for forwarder in domain.forwarders %}
      {{ forwarder }};
{%        endfor %}
    };
{%      elif ( view.servers is not defined or
               view.servers.master is not defined or
               inventory_hostname != view.servers.master ) and
             ( view.servers is not defined or
               view.servers.slaves is not defined or
               inventory_hostname not in ( view.servers.slaves | map(attribute='name') ) ) %}
    type master; // standalone master
{%        if ( view.tsig is defined and
               ( ( view.tsig.master is defined and
                   view.tsig.master.secret is defined ) or
                 view.tsig.rfc2136 is defined ) ) %}

    update-policy {
{%          if view.tsig.master is defined and
               view.tsig.master.secret is defined %}
      grant {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-key zonesub ANY;
{%          endif %}
{%          if view.tsig.rfc2136 is defined %}
{%            for rfc2136 in view.tsig.rfc2136 %}
{%              if domain.tsig is defined and
                   rfc2136.name is in domain.tsig %}
{%                for grant in rfc2136.grants %}
      grant service-{{ rfc2136.name }}-{{ view.name }}-update-key {{ grant }};
{%                endfor %}
{%              endif %}
{%            endfor %}
{%          endif %}
    };

    allow-transfer {
{%          if view.tsig.master is defined %}
      {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-key;
{%          endif %}
{%          if view.tsig.rfc2136 is defined %}
{%            for rfc2136 in view.tsig.rfc2136 %}
{%              if domain.tsig is defined and
                   rfc2136.name is in domain.tsig %}
      service-{{ rfc2136.name }}-{{ view.name }}-update-key;
{%              endif %}
{%            endfor %}
{%          endif %}
    };
{%        endif %}

    masterfile-format text;
    file "{{ view.name }}/{{ domain.name }}.db";
{%      elif inventory_hostname == view.servers.master %}
    type master; // upstream master
{%        if ( view.tsig is defined and
               ( ( view.tsig.master is defined and
                   view.tsig.master.secret is defined ) or
                 view.tsig.rfc2136 is defined ) ) %}

    update-policy {
{%          if view.tsig.master is defined and
               view.tsig.master.secret is defined %}
      grant {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-key zonesub ANY;
{%          endif %}
{%          if view.tsig.rfc2136 is defined %}
{%            for rfc2136 in view.tsig.rfc2136 %}
{%              if domain.tsig is defined and
                   rfc2136.name is in domain.tsig %}
{%                for grant in rfc2136.grants %}
      grant service-{{ rfc2136.name }}-{{ view.name }}-update-key {{ grant }};
{%                endfor %}
{%              endif %}
{%            endfor %}
{%          endif %}
    };
{%        endif %}

    allow-transfer {
{%        if view.tsig.master is defined and
             view.tsig.master.secret is defined %}
      {{ ansible_facts.fqdn | split('.') | reverse | join('-') }}-{{ view.name }}-master-acl;
{%        endif %}
{%        for slave in view.servers.slaves %}
{%          if slave.secret is defined %}
      {{ slave.name | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-acl;
{%          endif %}
{%        endfor %}
{%        if view.tsig.rfc2136 is defined %}
{%          for rfc2136 in view.tsig.rfc2136 %}
{%              if domain.tsig is defined and
                   rfc2136.name is in domain.tsig %}
      service-{{ rfc2136.name }}-{{ view.name }}-update-acl;
{%              endif %}
{%          endfor %}
{%        endif %}
    };

    also-notify {
{%        for slave in view.servers.slaves %}
{%          if slave.secret is defined %}
      {{ hostvars[slave.name].ansible_facts.default_ipv6.address }} key {{ slave.name | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-key;
{%            if hostvars[slave.name].ansible_facts.tailscale0 is defined and
                 hostvars[slave.name].ansible_facts.tailscale0.ipv6 is defined and
                 hostvars[slave.name].ansible_facts.tailscale0.ipv6 | length > 0 %}
      {{ hostvars[slave.name].ansible_facts.tailscale0.ipv6[0].address }};
{%            endif %}
{%          endif %}
{%        endfor %}
    };

    masterfile-format text;
    file "{{ view.name }}/{{ domain.name }}.db";
{%      elif inventory_hostname is in ( view.servers.slaves | map(attribute='name') ) %}
    type slave; // downstream slave

    masters {
      {{ hostvars[view.servers.master].ansible_facts.default_ipv6.address }} key {{ inventory_hostname | split('.') | reverse | join('-') }}-{{ view.name }}-transfer-key;
{%        if hostvars[view.servers.master].ansible_facts.tailscale0 is defined and
             hostvars[view.servers.master].ansible_facts.tailscale0.ipv6 is defined and
             hostvars[view.servers.master].ansible_facts.tailscale0.ipv6 | length > 0 %}
      {{ hostvars[view.servers.master].ansible_facts.tailscale0.ipv6[0].address }};
{%        endif %}
    };

    masterfile-format text;
    file "{{ view.name }}/{{ domain.name }}.db";
{%      else %}
    type slave; // unconfigured slave
    masterfile-format text;
    file "{{ view.name }}/{{ domain.name }}.db";
{%      endif %}
  };
{%    endfor %}
};
{%  endfor %}

logging {
  channel update-log {
    file "{{ bind_log_path }}/update.log";
    print-time yes;
    print-category yes;
    print-severity yes;
    severity warning;
  };

  category update { update-log; };

  channel dnssec-log {
    file "{{ bind_log_path }}/dnssec.log";
    print-time yes;
    print-category yes;
    print-severity yes;
    severity warning;
  };

  category dnssec { dnssec-log; };

  channel security-log {
    file "{{ bind_log_path }}/security.log";
    print-time yes;
    print-category yes;
    print-severity yes;
    severity warning;
  };

  category security { security-log; };

  channel client-log {
    file "{{ bind_log_path }}/client.log";
    print-time yes;
    print-category yes;
    print-severity yes;
    severity warning;
  };

  category client { client-log; };

  channel xfer-log {
    file "{{ bind_log_path }}/xfer.log";
    print-time yes;
    print-category yes;
    print-severity yes;
    severity warning;
  };

  category xfer-in { xfer-log; };
  category xfer-out { xfer-log; };
  category notify { xfer-log; };
};
