---
# handlers file for ca

- name: Install n3t.uk Root CA in the chroot
  ansible.builtin.command: # noqa no-changed-when
    cmd: >
      /usr/bin/arch-chroot {{ bootstrap_mount_base | default('') }}
        /usr/bin/fish -c 'trust anchor --store /etc/ssl/private/n3tuk-root.pem'
  when: >
    not ansible_check_mode and
    ( bootstrap_mount_base | default('') | length )

- name: Install n3t.uk Root CA locally
  ansible.builtin.command: # noqa no-changed-when
    cmd: trust anchor --store /etc/ssl/private/n3tuk-root.pem
  when: >
    not ansible_check_mode and
    not ( bootstrap_mount_base | default('') | length )
