---
# firewall-specific tasks file for bind

- name: Enable firewall access for bind
  community.general.ufw:
    rule: allow
    proto: "{{ port.split('/') | last }}"
    port: "{{ port.split('/') | first }}"
    comment: Allow DNS
  loop:
    - "{{ bind_port_dns }}/udp"
    - "{{ bind_port_dns }}/tcp"
  loop_control:
    label: >-
      allow from any to {{ port }}
    loop_var: port
  tags:
    - bind
    - firewall
