---
# handlers file for postgresql

- name: Restart the PostgreSQL service
  ansible.builtin.systemd:
    name: "{{ postgresql_service_name }}.service"
    state: restarted
  when: not ansible_check_mode

- name: Reload the PostgreSQL service
  ansible.builtin.systemd:
    name: "{{ postgresql_service_name }}.service"
    state: reloaded
  when: not ansible_check_mode
