# {{ ansible_managed }}
# ~/.bashrc

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
alias grep='grep --color=auto'

PS1='[\u@\h \W]\$ '
if test -x /usr/bin/starship; then
  eval "$(starship init bash)"
fi

EDITOR=/usr/bin/nvim
export EDITOR

export HISTFILESIZE=500
shopt -s histappend
