<pool type="dir">
  <name>images</name>
  <uuid>{{ libvirtd_images_dir | to_uuid(namespace="6ba7b811-9dad-11d1-80b4-00c04fd430c8") }}</uuid>
  <capacity unit="bytes">0</capacity>
  <allocation unit="bytes">0</allocation>
  <available unit="bytes">0</available>
  <source>
  </source>
  <target>
    <path>{{ libvirtd_images_dir }}</path>
  </target>
</pool>
