---
# tasks file for systemd-resolved

- name: Configure systemd-resolved
  ansible.builtin.template:
    src: resolved.conf.jinja
    dest: "{{ bootstrap_mount_base | default('') }}/etc/systemd/resolved.conf"
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  notify:
    - Restart systemd-resolved locally
  tags:
    - systemd-resolved
    - configuration

- name: Configure the stub resolver
  ansible.builtin.file:
    src: ../run/systemd/resolve/stub-resolv.conf
    dest: "{{ bootstrap_mount_base | default('') }}/etc/resolv.conf"
    state: link
    follow: false
    # Create the symlink even when the source does not exist, as
    # systemd-resolved may not be running when the link is created
    force: true
  tags:
    - systemd-resolved

- name: Ensure systemd-resolved is enabled in the chroot
  # If installing into the chroot'd environment, call systemd directly via
  # arch-chroot instead of using the systemd module
  ansible.builtin.shell: # noqa no-changed-when
    cmd: |-
      /usr/bin/arch-chroot {{ bootstrap_mount_base | default('') }} \
        /usr/bin/fish -c 'systemctl enable systemd-resolved.service'
  when: >-
    not ansible_check_mode and
    bootstrap_mount_base | default('') | length > 0
  tags:
    - systemd
    - systemd-resolved
    - service

- name: Ensure systemd-resolved is running locally
  ansible.builtin.systemd_service:
    name: systemd-resolved.service
    enabled: true
    state: started
  when: bootstrap_mount_base | default('') | length == 0
  tags:
    - systemd
    - systemd-resolved
    - service
