---
name: Linting

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: read
  issues: write
  pull-requests: write

jobs:
  linting:
    name: Ansible Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Lint the Ansible code
        uses: ansible/ansible-lint@v25
        env:
          ANSIBLE_SCRIPT_VAULT_DECRYPT_OVERRIDE: >-
            ${{ secrets.ANSIBLE_SCRIPT_VAULT_DECRYPT_OVERRIDE }}
        with:
          requirements_file: requirements.yaml

      - name: Upload the ansible-lint SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
          category: Ansible Linting
