---
# service-specific tasks file for cloudflared

- name: Enable and start the cloudflared service
  ansible.builtin.systemd:
    # yamllint disable-line rule:line-length
    name: "{{ cloudflared_service_name }}@{{ cloudflared_tunnel_name }}.service"
    # This is services includes self-installed service override; we need to
    # reload systemd to ensure it's (re)loaded prior to this command to ensure
    # any changes are processed
    daemon_reload: true
    state: started
    enabled: true
  when: >-
    not ansible_check_mode
  tags:
    - cloudflared
    - service
